[2017-10-18 01:33] schollz opened #1 "Encrypt the file on the client side before/after transmission"

[2017-10-18 01:33] schollz opened #2 "Send the sha256sum of the file and have receiver check it"

[2017-10-18 01:33] schollz opened #3 "Send hash of the code phrase instead of codephrase as the key"

[2017-10-18 01:34] schollz opened #4 "Need to clear clients who disconnect before sending/receiving"

[2017-10-18 01:34] schollz opened #5 "Handle file sizes < BUFFERSIZE * numberOfConnections (currently 4096 bytes)"

[2017-10-18 01:56] schollz opened #6 "Logo and name"
It can be anything

[2017-10-18 02:25] #3 closed

[2017-10-18 03:16] #1 closed

[2017-10-18 03:16] #4 closed

[2017-10-18 03:28] #2 closed

[2017-10-18 10:39] schollz opened #7 "Flag to limit bandwidth for sender"
This is very simple.

1. Add a flag
2. Add a time.Sleep() after each send, which calculates based on the bandwidth and the BUFFER_SIZE

Ask me if you have questions!

[2017-10-18 10:41] schollz opened #8 "Need to salt hash being sent to server"

[2017-10-18 13:10] #8 closed

[2017-10-18 13:16] schollz opened #10 "Break from for loop if time exceeds an hour"
Specifically these two for loops: [1](https://github.com/schollz/croc/blob/91f31993ecde9a5c1c56dd92257606d4d2ce9692/relay.go#L117-L126) and [2](https://github.com/schollz/croc/blob/91f31993ecde9a5c1c56dd92257606d4d2ce9692/relay.go#L117-L126) should keep track of time and return if it exceeds some time (maybe an hour).

[2017-10-18 13:17] schollz opened #11 "Add rate limiting in relay (only allow numberofconnections of IPs)"

[2017-10-18 14:51] schollz opened #12 "Add goreleaser.yml"

[2017-10-18 14:51] schollz opened #13 "Add .travis.yml"

[2017-10-18 15:07] #5 closed

[2017-10-18 15:56] Girbons commented on #13
I made a [PR](https://github.com/schollz/croc/pull/14)

[2017-10-18 17:39] #13 closed

[2017-10-18 17:42] schollz opened #15 "Hasn't this already been done? (a list of similar utilities for comparison)"
![Relevant XKCD](https://imgs.xkcd.com/comics/file_transfer.png)

Browser based seeding (peer-to-peer):

- https://takeafile.com/
- https://www.sharedrop.io/
- https://www.justbeamit.com/
- https://instant.io/ [problem with big files?](https://github.com/webtorrent/instant.io/issues/149)
- https://file.pizza/ [problem with big files?](https://github.com/kern/filepizza/issues/73)

Command-line (pee

[2017-10-18 19:58] #12 closed

[2017-10-18 21:34] heymatthew commented on #7
Mind if I take this one?

[2017-10-18 22:12] schollz commented on #7
Go for it! Let me know if you have any questions

On Oct 18, 2017 3:34 PM, "Matthew" <notifications@github.com> wrote:

[2017-10-19 09:39] fazekasda commented on #10
May i have this one?

[2017-10-19 11:31] schollz commented on #10
Yes go for it! Let me know if you need any help

On Oct 19, 2017 3:39 AM, "Dávid Fazekas" <notifications@github.com> wrote:

[2017-10-19 14:06] schollz opened #18 "Runs out of memory when decrypting/encrypting large files with little RAM"

[2017-10-19 15:03] schollz opened #19 "Replace byte-based encryption/decryption with file-streaming encryption/decryption"
Namely these lines: https://github.com/schollz/croc/blob/master/crypto.go#L31-L69
should be modified to use https://github.com/mars9/crypt.

This should fix #18

[2017-10-19 20:35] schollz opened #21 "Default behavior: disconnect unless sender is available"
But this behavior could be changed to sitting until someone connects (what it is now) with `-wait`

[2017-10-19 20:40] schollz opened #22 "Quit the program if the file specified already exists"
When the receiver gets the filename (here: https://github.com/schollz/croc/blob/master/connect.go#L208-L215), have it exit the program and print "Will not overwrite file!" if a file with that name already exists.

[2017-10-19 20:50] techtide commented on #22
Alright, I can do this!

[2017-10-19 21:26] schollz commented on #22
Great, thanks @techtide ! I think its better just to exit and have the recipient backup their own files however they wish.

[2017-10-19 21:28] techtide commented on #22
Okay; what I've implemented was basically just a slice with all accepted file names, and if a file is being pushed again that has already been accepted with a file name, then triggering the exit and the error message.

[2017-10-20 01:46] heymatthew commented on #7
Took me a while because I had to setup a few firewalls to check this :)

Does this look like the kind of thing you were after?

[2017-10-20 03:23] schollz commented on #7
Looks great!

On Oct 19, 2017 7:46 PM, "Matthew" <notifications@github.com> wrote:

[2017-10-20 03:24] #7 closed

[2017-10-20 04:28] #22 closed

[2017-10-20 06:26] csleong98 commented on #6
Hi there, need some help on the logo?

[2017-10-20 06:30] csleong98 commented on #6
I can help with that

[2017-10-20 06:30] csleong98 commented on #6
ur program name is croc? and it does file to file transfer?

[2017-10-20 10:35] schollz commented on #6
The name is temporary. Feel free to submit any logo you want and maybe a
name too! Yes it does peer to peer file transfer

On Oct 20, 2017 12:30 AM, "Chee Seng Leong" <notifications@github.com>
wrote:

[2017-10-20 11:19] csleong98 commented on #6
alright leave it to me then.

[2017-10-20 11:21] schollz opened #25 "Do not allow new sender/receiver connection with the same code as current sender/recevier"
In the code, when someone connects it adds to a dictionary of current connections. Before adding, it should be checked if they are in the dictinoary and if so, `sendMessage("no")` and return. The code to edit is here: https://github.com/schollz/croc/blob/master/relay.go#L112-L115 and here: https://github.com/schollz/croc/blob/master/relay.go#L144.

Please let me know if there are any questions.

[2017-10-20 11:22] schollz commented on #19
I am working on this.

[2017-10-20 11:56] csleong98 commented on #6
u add a in progress label if u want

[2017-10-20 12:26] #18 closed

[2017-10-20 12:26] #19 closed

[2017-10-20 13:34] lummie commented on #25
I'll take this :)

[2017-10-20 13:39] schollz commented on #25
Great! Don't hesitate to send me a question

[2017-10-20 13:51] lummie commented on #25
Is it possible to run it all on one machine for testing ?
Tried `./croc -relay` in one terminal
`./croc -server localhost -send ~/Pictures/Avatar.png` in another and both just output a cat and croc version...

[2017-10-20 15:57] schollz commented on #25
@lummie Yes. Its not clear at the moment, but you had the right idea. You need to run three commands in three different terminals:

1. `./croc -relay` will be the relay
2. `./croc -server localhost -send FILE -code 1-test` will send the file, with code specified
3. `./croc -server localhost -code 1 test` will receive the file without prompting about the code

[2017-10-20 16:05] schollz commented on #25
Oh also I just found I deleted those lines that tell you what to do after you start sending, fixed!

[2017-10-20 16:52] lummie commented on #25
@schollz Ok have done the rejecting multiple senders with the same key and tested it.
For the multiple receiver connections side, am I right in saying that the receiver is not recorded until here https://github.com/schollz/croc/blob/master/relay.go#L169
which is after the received has given consent, so up until this point multiple receivers could be connected  but only those connected whilst the f

[2017-10-20 17:05] schollz commented on #25
@lummie You are correct in that! I didn't think about that. I think having a map of potentialReceivers is a great solution. Would you like to add that too?

[2017-10-20 17:06] lummie commented on #25
@schollz will do :)

[2017-10-20 21:49] lummie commented on #21
I'll have a look

[2017-10-20 21:52] schollz commented on #21
Awesome. Basically the idea is that if you type the wrong code phrase, and you expect someone to send you a file then it will disconnect (after a time delay to make it harder for attackers to just spam the relay server).

[2017-10-20 21:53] lummie commented on #21
oh so server side, rather than a client side -wait flag?

[2017-10-20 21:57] lummie commented on #21
So how about we adapt the potentialReceivers map to store the connection and time it connected.
Then every 30 seconds iterate this map and throw away anything that's been there longer than 1 minute?

Or other time interval that you'd like...

[2017-10-20 22:02] Lunsford94 commented on #21
I had meant to take this up, but wanted to actually have everything before claiming it.

I've just made a pull request with the changes, but they're lacking any 'time delay'; I can add that as well, assuming they're good.

[2017-10-20 22:06] lummie commented on #21
@Lunsford94 go ahead and finish of :+1:

[2017-10-20 22:09] schollz commented on #21
Yeah @Lunsford94 yours looks perfect. I would just add a time.Sleep. I made a note in the code review.

[2017-10-21 01:29] schollz commented on #6
I don't know if this is useful (again the name can change) but here's something I sketched in a meeting
![croc](https://user-images.githubusercontent.com/6550035/31846736-0357bb50-b5cd-11e7-9037-96c3887fcd28.png)

[2017-10-21 01:49] #21 closed

[2017-10-21 01:49] #25 closed

[2017-10-21 01:56] schollz opened #29 "Clean out old dangling receivers/senders every hour"
Basically we need another data type here: https://github.com/schollz/croc/blob/550bd9a8e62e05546d438e2c90aca1d033cce3c1/relay.go#L16. Basically a map[string]time.Time where each key is saved with an indicator of whether it is a "sender" or a "receiver" (e.g. "s"+key or "r"+key). Then make a new function that is a for loop that just erases each key in the map that is older than an hour. This functi

[2017-10-21 02:18] csleong98 commented on #6
Its actually quite nice but i have an idea to name the program as Link (Legend of Zelda character) and a logo design from it

[2017-10-21 06:10] abinashmeher999 commented on #29
Correct me if I am wrong. As I understand, you are trying to make the keys expire after an hour. So would making the key an object with TTL suffice?

[2017-10-21 11:24] schollz commented on #29
Yep!

On Oct 21, 2017 12:10 AM, "Abinash Meher" <notifications@github.com> wrote:

[2017-10-21 11:54] abinashmeher999 commented on #29
Are you open to using https://github.com/patrickmn/go-cache?

[2017-10-21 11:57] schollz commented on #29
Sure that looks good!

On Oct 21, 2017 5:54 AM, "Abinash Meher" <notifications@github.com> wrote:

[2017-10-21 13:46] schollz commented on #10
@fazekasda There's been a lot of changes recently, so make sure to sync up!

[2017-10-21 13:52] schollz commented on #6
@csleong98 I think I'm going to go with the crocodile, but if you are doing hacktoberfest and want to make a PR still, you can add your name to the list of acknowledgements!

[2017-10-21 13:54] csleong98 commented on #6
alright

[2017-10-21 16:18] marcossegovia opened #31 "Flag -save for the receiver to specify where to save the file"
**Current Behaviour**
The path from the receiving file is the same as the received file, with no capability of changing the actual path for the current saving

**Expected behavior:**
When accepting the sending, it should prompt the for a a path where to store the received file (optionally?)

[2017-10-21 18:25] #10 closed

[2017-10-21 18:29] schollz commented on #31
@marcossegovia

You've found a bug! When sending the file, it should only send the filename, not the file path! I will fix this.

The default behavior of the receiver should be to save the file in whatever directory is currently being run from. I think you are also suggesting a good feature - the ability for the receiver to specify where the file is saved. However I don't want this to be default b

[2017-10-21 18:35] schollz opened #32 "Should send file not filepath"

[2017-10-21 18:46] #32 closed

[2017-10-21 18:56] marcossegovia commented on #31
Seems cool to me @schollz keep it up !

BTW nice repo idea, love it.

[2017-10-21 20:09] schollz opened #33 "Allow sending of directories"
When specified `-send FILE` its possible that `FILE` is a directory, in which *croc* should zip the directory and transfer it as a zipped file. This is pretty easy to implement.

First it should check if `flags.File` is actually a directory, after this line: https://github.com/schollz/croc/blob/17d7b76f08e5e7025dd5fde92b5b6a3ef8ca7f82/connect.go#L51.

If it is a directory, then it should zipped it

[2017-10-21 20:13] schollz opened #34 "Allow receiving directories"
First #33 should be done.

After downloading the file (after [this line](https://github.com/schollz/croc/blob/master/connect.go#L344)) there should be an `if`-statement to check whether the `c.File.IsDir == true`. If so, then it needs to be untarred and decompressed. This will depend on what #33 uses, but again I suggest using [mholt/archiver](https://github.com/mholt/archiver#library-use).

[2017-10-21 20:18] jesuiscamille commented on #33
I'll take it =)

[2017-10-21 20:20] schollz commented on #33
You got it! Let me know if you have any questions at all.

[2017-10-21 20:27] threefjord commented on #31
Can I do this one?

I'm assuming that with just `./croc -save` it should query during the recieve, just after "ok? (y/n): ", but with `./croc -save <path>` it should just use the provided path.

[2017-10-21 20:57] schollz commented on #31
@threefjord Sounds perfect. Its yours!

[2017-10-21 22:00] jesuiscamille commented on #34
Working on it too :)

[2017-10-21 23:16] schollz commented on #33
https://github.com/schollz/croc/pull/35

[2017-10-21 23:16] #33 closed

[2017-10-22 04:09] threefjord commented on #31
Woooo! Just made the PR ( #37 )

[2017-10-22 15:23] schollz opened #39 "Delete key after returning "Sender/Code not present""

[2017-10-22 15:28] #6 closed

[2017-10-22 15:28] #31 closed

[2017-10-22 15:28] #34 closed

[2017-10-22 16:36] #39 closed

[2017-10-22 17:26] schollz opened #40 "Examples"
![receive](https://user-images.githubusercontent.com/6550035/31864531-ad6e22c4-b71b-11e7-901a-02a210057cf1.gif)
![send](https://user-images.githubusercontent.com/6550035/31864532-ad80c6ae-b71b-11e7-91f9-bcba8143d3cf.gif)

[2017-10-22 17:26] #40 closed

[2017-10-23 07:51] FrontMage commented on #15
I think maybe it's because wormhole is not easy to install on windows?

[2017-10-24 12:43] callmefever opened #44 "data race"
Whenever try receive smt data race pops up
[code]

[2017-10-24 12:54] callmefever commented on #44
one more case
[code]

[2017-10-24 13:59] schollz commented on #44
Whoa! How did you get these errors, just by `go get` and then running? I've never seen errors like these before.

[2017-10-24 14:01] callmefever commented on #44
Almost) I used standard golang race detector  `go install -race`

[2017-10-24 14:44] schollz commented on #44
Okay, thanks. The problem is how data is being shared. Namely these contain switches: https://github.com/schollz/croc/blob/master/connect.go#L224-L228. These switches can be turned off/on simultaneously by threads which causes data racing. It should be fixed now since I added a `sync.RWMutex` to hold these switches.

[2017-10-24 20:00] thesyncim opened #46 "Consider using kcptun for transport"
just an idea
Not sure if it's worth it

[2017-10-24 20:35] schollz commented on #46
Its cool, I was looking at it today and wondering about it. I just tried it, using a single TCP socket.

I tried using `-mode fast3 -crypt none -nocomp` which should be fastest I assume?  Pipelines was:

[code]

The transfer to the server via `kcptun` is fast! Like 3-4 times faster. However the overall transfer is not any different, likely because its still limited? Or is it only faster because `k

[2017-10-24 21:27] schollz opened #47 "Print out speed of transfer"
After sending or receiving file, print out the rate of transfer in MB/s.

Basically, first there needs to be a timer here (e.g. `start:= time.Now()`) : https://github.com/schollz/croc/blob/master/connect.go#L214

For receiving the file, you should print out the speed here: https://github.com/schollz/croc/blob/master/connect.go#L468

For sending the file, you should print out the speed here: https:

[2017-10-24 21:34] #44 closed

[2017-10-25 10:31] kalbhor opened #50 "Loader on MacOS"
[code]

While using the send/recieve option in MacOS, I get one loader after each bar has been updated (=).

[2017-10-25 11:43] #47 closed

[2017-10-25 12:50] thesyncim commented on #46
you are right!
We can use https://github.com/anacrolix/utp for nat transverse, but im not sure about the performance impact.

[2017-10-25 12:52] thesyncim commented on #46
i will prepare a simple POC to see if it worths

[2017-10-25 15:11] schollz commented on #50
Can you try it and make sure your terminal is really wide? Your issue might be related to https://github.com/gosuri/uiprogress/issues/3

[2017-10-25 18:18] goggle commented on #50
I have the same issue, but I am on Linux.

[2017-10-25 19:04] schollz commented on #50
@goggle Was your terminal width < 70 characters?

[2017-10-25 23:18] goggle commented on #50
@schollz No, I don't think so. The width was most probably >= 80 characters.

[2017-10-26 10:47] schollz commented on #50
Thanks.

I'll work on a really simple progress indicator (probably not a bar) that is just print statements, which will work on any OS.

[2017-10-26 10:59] schollz opened #53 "Relay panics sometimes"
Output from my logs::

[code]

[2017-10-26 14:26] goggle opened #54 "Make using one connection the default."
I don't really see a big benefit of having multiple connections open to send/receive a file over the network. The current default of "number of connections" is currently set to 4. I think croc should respect the [KISS principle](https://en.wikipedia.org/wiki/KISS_principle), so it would be good to have the "number of connections" option set to 1 as default. It is nice to have this feature though.

[2017-10-26 15:06] schollz commented on #54
Are you sure you see no improvement with more than one thread? Currently one thread is the default for small files, but I see improvements for more than one thread for bigger files. I'm not sure why there is a benefit at all, but I can see one when I test. My test is to send 30MB folder from one computer at work to my computer at home.  I did each trial three times and took the average of the thre

[2017-10-26 18:38] schollz commented on #50
@goggle, @kalbhor can you try the new version `go get -u -v github.com/schollz/croc`? I replaced the progress bar with a homemade version which should work.

[2017-10-29 20:51] mikemadden42 opened #56 "Relay broken?"
Is the relay possibly broken or down?  I cannot get a sample file to send.

[code]

[2017-10-29 21:28] schollz commented on #56
What happens when you send it? The relay is up.

[2017-10-29 23:06] mikemadden42 commented on #56
I don't see it making any progressing sending the file.

[code]

I see it creating some temporary files.

[code]

[2017-10-30 00:58] goggle commented on #54
Thanks, your benchmark shows, that it makes sense (at least for somewhat bigger files) to send files over multiple connections.

The thing that annoys me, is that we also see multiple progress bars when we use multiple connections. The end user do not care about the progress for each single connection, they care about the overall progress of sending/receiving the file. Is it possible the merge the

[2017-10-30 01:25] mikemadden42 commented on #56
Here's the output of running with debug mode.

[code]

[2017-10-30 08:20] schollz commented on #56
Thanks @mikemadden42 . That all looks fine. Its waiting for the receiver to connect to the relay. Can you run debug on the receiver while you do the transfer?

[2017-10-30 08:21] schollz commented on #54
Yes! Already done: e3ff37cce8dd1dfcd2efc71422ca6da87e38765f. I was annoyed that the uiprogress bar wasn't OS specific so I just made a single simple progressbar that is shown.

[2017-11-02 12:38] mikemadden42 commented on #56
If I send / receive around the same time it works fine.  I was assuming I would first need to upload the file and the retrieve it later.

[2017-11-02 13:39] schollz commented on #56
@mikemadden42 There is no upload. *croc* is just connecting the sender and receiver until the file transfer is over. The file is directly transferred from the first computer to the second.

[2017-11-02 16:27] mikemadden42 commented on #56
That sounds great.  That's what I suspected.  Please go ahead & close this issue.

[2017-11-02 17:04] #56 closed

[2017-11-05 13:47] #54 closed

[2017-11-05 14:02] #50 closed

[2017-11-05 14:19] schollz commented on #40
![receive](https://user-images.githubusercontent.com/6550035/32415609-9ba49dc8-c1f9-11e7-9c86-ea0baae730fe.gif)
![send](https://user-images.githubusercontent.com/6550035/32415611-9bfa858a-c1f9-11e7-9573-52c1edc52e5f.gif)

[2018-01-02 07:20] RandomOS opened #58 "Transfer file error, chunk size is empty!"
croc 0.4.1 Ubuntu 64bit
 croc -send t.txt
[code]

croc
[code]

File to transfer, plz unzip.
[t.zip](https://github.com/schollz/croc/files/1596985/t.zip)

@schollz

[2018-01-21 14:02] schollz commented on #58
Does it work with other files?

[2018-01-22 07:39] RandomOS commented on #58
@schollz Yes, it work with other files. Can you reproduce the error with t,txt? Hope it helps.

[2018-04-07 01:44] dnaf opened #62 "Pipe data using standard streams"
It would be very useful if croc could send data directly from stdin and receive to stdout

[2018-04-13 22:34] schollz commented on #62
@dnaf It's now possible to pipe with stdin/stdout.

You can send with stdin using:

[code]

And receive through stdout using:

[code]

The `--yes` is not necessary, but it is useful because otherwise you'll be prompted about whether you want to save the file.

[2018-04-14 02:30] sabhiram commented on #62
Couldn't we tease if there is data being sent via stdin and omit the `--send stdin`?

[2018-04-14 08:32] schollz commented on #62
@sabhiram I didn't think about that - [there is a way](https://stackoverflow.com/a/26567513/8133281)!

Fixed now. Syntax is now:

[code]

And receive through stdout using:

[code]

[2018-04-24 07:37] #62 closed

[2018-04-24 07:38] #58 closed

[2018-04-24 07:38] #53 closed

[2018-04-24 07:38] #11 closed

[2018-04-24 18:17] gedw99 opened #66 "NAT"
I have many computers all behind NAT.
The relay has to on a public static IP somewhere like in the cloud ?

[2018-04-25 02:08] schollz commented on #66
Yeah, unless you are transferring files locally

[2018-04-25 06:10] schollz opened #68 "Local transfer should work even if public relay server is down"
Strategy:

- show error message when server is down (like before), but specify that it can be disregarded by using "--local"
- use local flag disables connecting to public server

[2018-04-25 06:33] gedw99 commented on #66
makes sense. maybe add this to the readme.

[2018-04-25 06:33] #66 closed

[2018-04-25 07:37] #68 closed

[2018-04-27 11:28] schollz opened #69 "send relay signal when closing to make sure to delete key"

[2018-04-27 11:28] schollz opened #70 "refactor into croc library"

[2018-06-22 02:27] anarcat commented on #15
i am also curious to hear why croc exists, especially since the author seems to be aware of magic-wormhole. i think we should avoid fragmentation in this sector and make sure all wormhole-y clients share a common infrastructure or at least interoperate. maybe it would be possible to use the normal wormhole servers for this?

if not, then we'd need some sort of federation to have things make sense

[2018-06-22 02:31] anarcat commented on #15
i'm also concerned that croc does not use PAKE like Wormhole, which means passwords are much easier to guess than they should be.

[2018-06-22 13:38] schollz commented on #15
@anarcat

*croc* mainly exists because I wanted a executable *magic-wormhole*-type program. The Python installation is not easy for someone who isn't very familiar with a computer.

I disagree. I believe most services benefit from having alternatives, so we are not reliant on a single centralized source.

I don't think this is true. Here's why: In both *wormhole* and *croc* all you need to guess i

[2018-06-22 14:07] anarcat commented on #15
On 2018-06-22 06:38:30, Zack wrote:

I understand the idea behind Golang static executables, and I think
that's a great idea... :)

... however, I don't understand why a different protocol was
implemented. Even if you didn't want to use @warner's servers, you could
still have stuck to the protocol he established instead of rolling your
own. This would have ensured the two projects are compatible i

[2018-06-22 14:55] schollz commented on #15
@anarcat Please combine this discussion and your other into a new issue for croc

[2018-06-22 16:05] anarcat opened #71 "wormhole protocol and PAKE compatibility"
Hi!

I have found with great interest this golang implementation of some of the concepts behind Magic Wormhole. As a user of the latter (and maintainer of the Debian package), I am happy to see other implementations pop up, especially if it means it's easier for others to share files and use those concepts.

Unfortunately, I am concerned with the current implementation of croc, as I explained in h

[2018-06-22 16:06] anarcat commented on #15
sure, done in #71

[2018-06-22 18:46] schollz commented on #71
@anarcat

As to compatibility with *magic-wormhole* that was never really a goal for *croc*. When I started building *croc* I couldn't find good documentation or source code on how the *magic-wormhole* relay worked, so I gave up trying to port it.

As to security, you're right that *croc* is not as secure as *magic-wormhole* in general. There are several points of vulnerability in a program like t

[2018-06-23 13:23] oleskiewicz commented on #70
I've just started a mock-up UI project [here](https://github.com/oleskiewicz/croc-ui) to make croc more widely accessible -- it would be super useful to have a library!

[2018-06-24 14:20] schollz commented on #71
Public/private key encryption is now added, with double authentication

[2018-06-24 18:46] schollz opened #73 "Bug fixes for v2"
- [x] Improve readme
- [x] Cache the key to a config file (~/.config/croc/key)
- [x] Mnemicode the key?
- [x] colors?

[2018-06-25 14:29] anarcat commented on #71
I do not believe this resolves the security concerns I have raised, and it definitely does not add  compatibility with wormhole in any shape or form...

[2018-06-25 14:52] schollz commented on #71
@anarcat Sorry, compatibility with wormhole was never a goal. I put on the readme that this is "similar in spirit and design" but I really mean *similar* design and not exact. I'll just remove that altogether.

I think the new changes do address your concerns.

The transfer is now double-authenticated with user-specific keys. So you can just check with your recipient that you are encrypting for th

[2018-06-25 16:24] schollz opened #74 "Add TOFU (trust on first use)"
Store "known sender/recipients" in config file

[2018-06-27 04:10] #74 closed

[2018-06-27 04:10] #71 closed

[2018-06-27 13:28] #73 closed

[2018-06-27 14:22] anarcat commented on #71
How do users check each other's public keys?

[2018-06-27 14:44] schollz commented on #71
@anarcat Since this tool assumes there is already have a channel of communication (phone/text) the two parties can just dictate the public key they received to the other person and make sure it matches. This adds a whole other layer of security - in wormhole there is no way to determine if the person who entered the code phrase is the person you actually want receiving the file.

[2018-06-27 14:50] anarcat commented on #71
On 2018-06-27 07:44:01, Zack wrote:

But then the short codes are useless and there are many other ways you
can exchange files, for example with OpenPGP encryption which also
relies on public keys.

[2018-06-27 14:57] schollz commented on #71
@anarcat Short codes are not entirely useless - they serve as a way to first get the two parties into a room together. The uniqueness of the short-code is useful because it helps to make sure the room is unique. The public key validation that is enabled now is sort of an extra layer of protection. If someone else happens to get to that short code first, then the sender would immediately notice tha

[2018-06-27 15:06] anarcat commented on #71
I think the short codes add a false sense of security. You end up being completely vulnerable to a hostile server or MITM attack because PAKE is not implemented correctly.

I am sorry, but I do not believe croc brings the sort of security garantees it says it does, but I am not sure I have the energy to convince you so. I hope others will be able to make a better argument than me! :)

Have a nice

[2018-06-27 15:21] schollz commented on #71
@anarcat You're right that PAKE is not implemented at all, it was never my goal or intention.

In fact, public/private keys actually provide *more* security than PAKE - in addition to encrypting the file for a single recipient they also provide a means to authenticate the recipient (wormhole cannot do this - anyone with a code phrase could receive the file! There is no stopping someone guessing co

[2018-06-27 15:33] anarcat commented on #71
On 2018-06-27 15:22:06, Zack wrote:

This is the problem right here. Croc is introduced like this in the
README:

Nowhere does it mention that public keys must be authenticated as
well. At best, deep below in the README, does it say that public keys
serve as "a second method of authentication" and gently encourages users
to authenticate those keys. I have a long experience working with public
key

[2018-06-27 15:51] schollz commented on #71
@anarcat Could you explain something that I don't get - how does wormhole+PAKE stop an evil relay?

Here's an evil relay scenario. The short code is easy to guess. Say A wants to send to B through the relay. A generates a code phrase. When A connects to the relay, the relay could pose as B and try all known code phrases, and eventually gets the one A used. A is totally unaware of the attempts unti

[2018-06-27 15:58] anarcat commented on #71
On 2018-06-27 08:51:21, Zack wrote:

I am not sure how wormhole deals with hostile relays, but the pake
exchange is done between the two clients, the relay is only a
mediator. So I would assume that the *clients* only allow one attempt at
a time.

Furthermore, the relay has multiple "channels" (the first number in the
magic handshake) and yes, there, a single handshake can happen at a
time. This i

[2018-06-27 16:31] schollz commented on #71
@anarcat Okay, the channels makes everything make sense to me now.

I think I'll write a croc3.0 to use PAKE. I do like public keys, but I like the simplicity of just using the code phrase.

Thanks for continuing the conversation!

[2018-06-27 16:38] anarcat commented on #71
On 2018-06-27 09:31:32, Zack wrote:

I am really happy to hear that! Be careful with the crypto, it's easy to
get wrong...

I also encourage you to look at the actual wire protocol behind
Wormhole: it would be great if they would be compatible.

[2018-07-02 09:40] youngda opened #75 "-bash: croc: command not found"
-bash: croc: command not found

[2018-07-02 09:40] youngda commented on #75
centos and ubuntu

[2018-07-03 01:05] youngda commented on #75
download croc_2.2.0_linux_64bit.tar.gz
tar -zxvf croc_2.2.0_linux_64bit.tar.gz
croc -send some-file-or-folder
-bash: croc: command not found

[2018-07-03 14:16] schollz commented on #75
Your missing a step

[code]

You need to add it to your PATH, basically.

[2018-07-03 14:16] schollz commented on #70
@oleskiewicz croc is now in library form.

[2018-07-03 14:16] #70 closed

[2018-07-03 14:17] #69 closed

[2018-07-03 14:17] #29 closed

[2018-07-03 14:17] #15 closed

[2018-07-03 14:19] schollz opened #77 "Add file transfer speed"

[2018-07-03 14:25] schollz commented on #71
@anarcat I've looked into wormhole compatibility. It would be great, but its very complicated. I'm going to get in touch with the author for more details.

In the meantime I've bumped croc to 3.0 which uses PAKE: https://github.com/schollz/pake

[2018-07-03 14:44] schollz opened #78 "Add HEAD / for server to be monitored by uptime robot"

[2018-07-03 15:58] youngda commented on #75
Thank you @schollz  It's working now.

[2018-07-03 16:04] #75 closed

[2018-07-04 02:21] anarcat commented on #71
I am very glad you made those changes and are considering wormhole
compatibility.

It is rare to see someone be so open in a conversation in the face of
such radical proposals in a fundamental aspect of their work. I
congratulate you on your openness, humility and efficiency in handling
this matter.

Chapeau! :)

[2018-07-04 13:34] #77 closed

[2018-07-04 13:41] #78 closed

[2018-07-05 23:44] schollz opened #79 "Add spinner for recipient"

[2018-07-06 04:45] #79 closed

[2018-07-06 04:45] schollz opened #80 "Using gen should not be default"

[2018-07-06 14:14] schollz opened #81 "Cleanup everything when cancelled"

[2018-07-06 18:23] schollz opened #82 "Zip windows -> linux directory not working"

[2018-07-06 18:23] #81 closed

[2018-07-06 18:24] schollz opened #83 "Gen interferes with entering name in command"

[2018-07-06 22:31] #80 closed

[2018-07-06 22:31] #82 closed

[2018-07-06 22:31] #83 closed

[2018-07-12 13:54] sgon00 opened #84 "Out of memory"
croc version 3.0.6
Send a folder from WIndows 10 to Arch Linux

[code]

[2018-07-12 13:59] sgon00 commented on #84
Btw, I feel bad to use the word `folder`, I am not sure why that is the word comes out from my mind when I posted this issue. It should be "directory".

[2018-07-12 14:16] schollz commented on #84
@sgon00 My first thought is that you ran out of disk space. How much disk space did you have on your computer when you tried sending the file?

The 5.1GB file will be split into several files, essentially adding another 5.1GB file to your disk (which is removed after transfer and should be removed on errors like this).

There is not a good way around this yet because big files cannot be loaded int

[2018-07-13 15:06] sgon00 commented on #84
@schollz Thank you very much for your investigation. My Windows 10 PC has about 20GB free space. Thus I think it's not ran out of disk space.
Another weird thing is that the directory size is actually not 5.1GB. Right now, I have cut the entire directory from Windows to my Linux through samba, thus I can't be sure how much size it was in Windows. But the size in Linux with `du -sh` shows `6.4GB` n

[2018-07-27 11:40] gh0st42 opened #85 "Local mode not working"
I just downloaded the newest version from github and build a croc binary myself. So far it only works (send and receive) if local mode is disabled (--no-local). Otherwise it always crashes:

[code]

The problem seems to be in `if errJoinGroup := p2.JoinGroup(&ifaces[i], &net.UDPAddr{IP: group, Port: portNum}); errJoinGroup != nil {` of `peerdiscovery.go`. I tried building the binary with go 1.9 an

[2018-07-27 12:08] gh0st42 commented on #85
Found out that I had an old `$GOPATH/src/golang.org/x/net` installation. Removing this and letting go rebuild everything seems to fix this. Maybe something for an FAQ. Too bad that go doesn't have real dependency version management yet.

[2018-07-27 12:08] #85 closed

[2018-07-27 14:33] schollz commented on #85
@gh0st42 Thanks, thats weird. I'll just bundle dependencies with dep for now

[2018-08-31 15:12] ShermanZhou opened #86 ""One party canceled, file not transfered" between Mac and Windows"
Thanks for taking look at this issue.

Dev build, Not able to transfer single file, from Mac to Windows; windows to mac or folder transfer not used.
Steps to reproduce:
0) pull from git and build both mac and windows version
1) start sending files from Mac, using a predefined code (around 5 letters long)
2) start croc on Windows
Observation:
Exception throwing in Mac terminal, both sides said some

[2018-09-02 22:11] schollz commented on #86
Do you get this error everytime?

[2018-09-02 23:14] ShermanZhou commented on #86
Yes. everytime when transferring file between Mac and Windows no matter what direction. It works perfectly fine from Mac to Mac (High Sierra to High Sierra).

I removed "filesReady = true" outside the go routine, seams like not related to the bug. I also tried to use 'accept by default', the crash information has no change.

[2018-09-02 23:28] ShermanZhou commented on #86
Just tested now. the problem doesn't exist when transferring files from Linux (OpenSuse Tumbleweel 1 month old) to Mac (High Sierra). Could it be something related to Windows platform only?

[2018-09-07 14:03] schollz commented on #86
@ShermanZhou Windows <-> Linux works fine for me.

It might be a Windows <-> Mac issue, but I can't help there since I don't have a mac. I'm surprised that it would only affect one pair though....

[2018-09-12 14:33] #84 closed

[2018-09-22 22:04] #46 closed

[2018-09-22 22:04] #86 closed

[2018-10-02 20:54] toonn opened #89 "Resuming file transfer?"
Does croc support resuming transfers? Magic-wormhole seems to be lacking this. I'd use rsync but setting up ssh is proving to be too much of a challenge for my recipient and I'm not sure how to get through NAT even if they succeed.

[2018-10-09 12:05] schollz commented on #89
It does not. But it is pretty easily done. Want to give it a shot?

[2018-10-09 13:12] toonn commented on #89
I am interested, this seems like an interesting problem to solve in Go, since I have no experience and not much reason to check out the language otherwise. I don't have much time right now though, this'd likely happen months from now. If that is an acceptable time-frame then I'm willing to commit to this.

Is the development environment for Go easy to set up? (Not talking about editor integration,

[2018-10-09 14:00] schollz commented on #89
@toonn Sorry, I changed my comment up there. It was easy to do, so I already added it in. You can try it out. It seems to work when I tested it, but let me know if you find bugs

[2018-10-09 14:14] toonn commented on #89
How do I test it? I assume two parties are needed? Could you provide linux 64bit and windows 64bit binaries?

[2018-10-09 14:15] schollz commented on #89
`go install -u -v github.com/schollz/croc` should work

[2018-10-09 14:20] toonn commented on #89
Yes, but the reason I'm using croc is the other party doesn't go near command lines : )

[2018-10-09 18:17] toonn commented on #89
It didn't work for my usecase because I can't write to the disk where I'm transferring the files from. Maybe create all the files you do '/tmp' or something? I've noticed failed transfers leaving a bunch of croc327478 files around.

[2018-10-09 20:36] toonn commented on #89
The directory I was running it from I have write access on. For some reason croc was trying to create the zip in the directory it was transferring the files from. Previous versions make the zips in the directory they're run from.

[2018-10-10 00:15] schollz commented on #89
Okay cool, thanks for that. Its a bug. I thing I fixed it. If you are so kind, please try again!

https://github.com/schollz/croc/releases/tag/v4.0.1

[2018-10-10 02:07] schollz commented on #74
![croc](https://user-images.githubusercontent.com/6550035/46709024-9b23ad00-cbf6-11e8-9fb2-ca8b20b7dbec.jpg)

[2018-10-10 02:09] Fangyh09 opened #91 "It's slower than scp"
It's slower than scp. Should I config something?

[2018-10-10 02:31] schollz commented on #91
Here's a useful benchmark that you could run to let me know the speeddown that you are seeing.

Sender:

[code]

Recipient:

[code]

And then try the scp

[code]

When I do this locally (i.e. both computers on LAN) I get ~12.4 seconds for scp and ~14 seconds for croc. So yeah, croc is 16% slower. I don't know about non-local, maybe I can try that tomorrow.

Though, in general, I don't really think

[2018-10-10 02:39] schollz commented on #91
One more thing I forgot. The PAKE is a constant time process and it takes ~1 second on my machine, so really scp might be only about 5% faster.

[2018-10-10 05:30] Fangyh09 commented on #91
Yes, I found PAKE costs a lot time. Any way to keep this process as guard process?

[2018-10-10 05:40] Fangyh09 commented on #91
I prefer this tool even though I could scp. Because I don't like to type long path. It's awesome.

[2018-10-10 05:55] schollz commented on #91
@Fangyh09 Are you doing the scp transfer over the LAN?

[2018-10-10 07:37] Fangyh09 commented on #91
The inner net speed is 1000Mb/s

[2018-10-10 13:18] schollz commented on #91
If you are not on LAN, then scp will always be a ton faster.

scp is either downloading or uploading the data from one computer to the other. In croc (and many other non-scp tools) the data has to pass through an intermediary relay to bypass the network in which case you are essentially uploading the data to the relay and then downloading from the relay. When you upload and download something you

[2018-10-10 14:37] toonn commented on #89
Hmm, the link 404's. Then again, octocat has made me wonder if it really is what I'm looking for...

[2018-10-10 15:03] schollz commented on #89
@toonn Yeah, I rebased a bunch of new changes for a "new" beta: https://github.com/schollz/croc/releases/latest

[2018-10-10 17:00] toonn commented on #89
That points to v4.0.0 again, did it change or no?

[2018-10-10 17:53] schollz commented on #89
Yeah I rebased, so this is a *new* 4.0.0

[2018-10-11 09:39] toonn commented on #89
Ran into some errors after a transfer was cancelled, is this the expected behavior?
[code]

It did seem to resume fine this morning though.

[2018-10-11 13:19] schollz commented on #89
Yeah, they are not really errors since you cancelled it. I'm working on getting it to suppress logging when it is canceled.

[2018-10-11 14:37] schollz opened #92 "Make self-updating"
Utilize https://github.com/sanbornm/go-selfupdate to make *croc* a self-updating program.

Please let me know if you have any questions!

[2018-10-11 14:38] #89 closed

[2018-10-11 18:21] toonn commented on #89
Seems like it's not foolproof. we're fools and we broke it : )
The recipient machine probably suspended while a transfer was happening. That must've somehow corrupted the progress file because  resuming it did not work.

I think rsync doesn't use a seperate file precisely because of the difficulty keeping the actual state in sync with the metadata describing the progress.

I'm not sure an easy fix

[2018-10-11 19:00] schollz commented on #89
I'm confused, how did you break it?
Above, you said it resumed fine. And those errors you showed, they were after cancelling, correct? After cancelling you will probably see a bunch of error messages, but they are not really errors.

[2018-10-11 20:50] HannanSolo commented on #92
Lemmi at em.

[2018-10-12 10:09] toonn commented on #89
The first time when the resuming succeeded that was with a transfer that was cancelled by closing the program, on the windows side.

This second time when it broke a transfer was running and the windows machine probably went to sleep. Resuming was impossible. croc just showed 100% and hanged on my end.

[2018-10-12 13:49] #91 closed

[2018-10-14 22:09] mikemadden42 opened #93 "Cannot build croc - progressbar issues"
[code]

[code]

[2018-10-15 18:38] toonn commented on #89
We just had another transfer that wouldn't resume. The sending side went from "PAKE..." to a new prompt and the receiving side was stuck on "PAKE..." It seems like there's a problem tracking the progress. We don't think the receiving side suspended/went to sleep during this transfer, can't exclude network issues. But this isn't a one-time fluke anymore. Do you want me to open up a new issue?

[2018-10-16 13:47] toonn commented on #89
Had another failed resume. Just went to 100% listing the speed as 1137775.3 MB/s.

[2018-10-16 15:29] toonn commented on #89
Seems like it usually happens when the screen locks.

[2018-10-16 19:02] good-movies commented on #93
You need go1.11+

[2018-10-16 19:03] schollz commented on #93
You need go1.11

[2018-10-18 05:15] #93 closed

[2018-10-18 14:08] toonn commented on #89
This time we didn't cancell anything. Sender side:
[code]
Receiver side:
![croc_rcvr_error](https://user-images.githubusercontent.com/1486805/47160214-c17cd300-d2ef-11e8-853d-94e3a60cb8ae.jpg)

[2018-10-18 14:12] schollz commented on #89
@toonn Can you update to the latest version?

[2018-10-18 14:15] toonn commented on #89
Did you change anything since the rebased 4.0.0? It looks like the resume for this last one is working fine btw. So the crash was random but it didn't break the progress like the other times.

[2018-10-18 14:19] schollz commented on #89
Yeah I did: https://github.com/schollz/croc/releases

[2018-10-18 15:55] schollz opened #95 "Ensure sender is sender and recipient is recipient in relay"
[code]

[2018-10-18 16:36] #95 closed

[2018-10-20 14:12] schollz opened #96 "Add GUI"

[2018-10-20 14:12] #96 closed

[2018-10-20 14:12] schollz commented on #96
![snapshot](https://user-images.githubusercontent.com/6550035/47256575-8a193e00-d437-11e8-96fa-42c9d072a8f1.PNG)

[2018-10-20 23:29] schollz opened #97 "Make config file for command-line parameters"

[2018-10-21 07:32] schollz opened #98 "Allow different elliptic curves for PAKE"

[2018-10-21 14:46] #98 closed

[2018-10-22 02:48] supermario1990 opened #99 "File cannot be overwritten"
if computer A send a file named a.txt to computer B， but computer B has a file named a.txt already, then the send action will failed.

[2018-10-22 09:53] codeskyblue opened #100 "extra progress file not deleted when transfer finished"
[code]

[2018-10-22 13:45] schollz commented on #100
@codeskyblue Can you print the version of croc? Also can you do the sender and receiver in debug mode (add `--debug`) and paste the content here? This is not a behavior I've seen before.

[2018-10-22 13:49] schollz commented on #99
@supermario1990 I can't replicate your issue. What is the version of croc you are using? Can you run with `-debug` and send the output?

Here's what I see. Here's the sender:

[code]

And here's the recipient (computer B):

[code]

As you can see the computer B is prompted that it is overwriting a.txt The user then accepts receiving and overwriting, after which the file is overwritten.

[2018-10-22 21:50] aslafy-z opened #101 "Send multiple files"
It would be great to be able to send multiple files at a time.

Eg:
[code]

On the other side:
[code]

This project looks awesome, I'd be pleased to contribute to it later!

[2018-10-22 22:53] Fastidious opened #102 "Implement a configuration file"
It would be helpful to have `croc` create a configuration file upon first run (say, `.crocrc`) with encryption defaults, default relay server (and, potentially, others) which then could be changed, should the user were to run its own.

[2018-10-22 23:52] schollz commented on #102
Yeah, I added it! Its just not in the master yet.

https://github.com/schollz/croc/commit/81bc06eabb295417186b33770ae6c1f90bf76909

[2018-10-23 00:02] schollz commented on #101
@aslafy-z How would you go about doing this?

There are a couple of options:

- Transfer files in parallel (doable, but the UI is a nightmare because it requires syncing the UIs)
- Zip the files first, and then send the zipped files (this is currently what croc does with directories)
- Receive the files one at a time, requiring individual confirmation for each, sequentially (the easiest option, bu

[2018-10-23 10:38] postacik opened #104 "Does all the data go thru the relay?"
Hi,
I could not understand the role of the relay in the whole picture.

Does all the data go through the relay or is it used only for communicating the necessary data for peer to peer connection?

Can you please explain?

[2018-10-23 12:37] schollz commented on #104
Yes, all data goes through the relay. I haven't found a way that can reliably send data *directly* between two computers that don't have port-forwarding enabled.

*croc* differs from a utility like *scp* because it doesn't require any two computers to have enabled port-forwarding, nor does it require computers having any server setup. Instead, *croc* will uses a relay - a temporary server setup lo

[2018-10-23 12:37] Fastidious commented on #104
@postacik from the croc readme file:

I am assuming that means all data goes through the relay.

[2018-10-23 12:53] schollz commented on #102
@Fastidious Its now live.

The configuration file basically just has all the flags that you can set in the CLI. If you change a configuration variable AND you change the CLI flag when you run the program, then the flag takes precedent and overrides the config.

[2018-10-23 13:10] Fastidious commented on #102
Awesome. I found a couple of issues.
[code]
It seems the directory is created missing the execute bit. The error is also missing some returns, to make it more legible. After adding the execute bit to the `croc` directory I was able to successfully create the `config.toml`:
[code]
It is still missing some `\r\n`, as you can see. Running under macOS Mojave.

[2018-10-23 13:42] Fastidious commented on #102
Excellent, closing!

[2018-10-23 13:42] #102 closed

[2018-10-23 16:15] postacik commented on #104
I had thought that, maybe "magically" you had also implemented a working peer2peer communication behind all kinds of network topologies.

Anyway, thank you very much for the application and the explanation. 👍

[2018-10-23 16:15] #104 closed

[2018-10-23 18:29] Fastidious commented on #101
@schollz I say zipping the files would be the best approach.

[2018-10-23 22:14] schollz commented on #101
@Fastidious In that case, what would be expected for the output folder? Should both files go to the same folder (usually current folder of croc, or whatever is specified with `--out`) or should they go to different relative directories?

[2018-10-23 22:49] Fastidious commented on #101
@schollz wouldn't the output directory by that from which `croc` is run? For example, if someone sends me a file, and I open my iTerm, and go to `~/Downloads/` and run croc there, then the file will be  saved under `~/Downloads/`. Alternatively, perhaps having the ability to set a default "transfer" directory?

If the question is whether the zip will expand into one directory, with the two files i

[2018-10-23 23:15] schollz commented on #101
@Fastidious Yes, by default *croc* would output the data into the directory that croc is run. However, there is a command-line flag `--out` where you can specify a different output directory.  There isn't a way to do this in the config file yet.

[2018-10-25 05:07] greyireland opened #107 "Can't access the getcroc.schollz.com"
## Expected Behavior

## Actual Behavior
ping getcroc.schollz.com
PING getcroc.schollz.com (198.199.67.130): 56 data bytes
Request timeout for icmp_seq 0
Request timeout for icmp_seq 1

Can't access this site in China.
## Steps to Reproduce the Problem

  1.
  1.
  1.

## Specifications

  - Version (`croc -version` or let me know latest commit in git log if using dev):
  - Platform:
  - Subsystem

[2018-10-25 09:11] ghost opened #108 "webrtc for relay"
This is a proposal to use webrtc for relay, so that your relay can use standard webrtc approaches and ports.

This is a 100% golang implementation for webrtc.
https://github.com/pions/webrtc

there are good examples shower it working and it should be relatively easy to refactor the relay and client code to use the webrtc approach.

[2018-10-25 14:05] schollz commented on #107
@greyireland Can you do

[code]

[2018-10-25 14:07] schollz commented on #108
@gedw99 Thanks, what is the benefit of WebRTC? I'm not familiar with it.

[2018-10-25 14:07] schollz commented on #100
Closing now, let me know if you have more information

[2018-10-25 14:08] schollz commented on #99
Closing now, let me know if you have more information

[2018-10-25 14:08] #99 closed

[2018-10-26 12:18] chrisprobst commented on #92
We'll take care of that ;-) @grandcentrix

[2018-10-26 13:05] chrisprobst commented on #92
We checked out https://github.com/rhysd/go-github-selfupdate, however, the current naming structure of this project seems to be incompatible with their conventions.

[2018-10-26 23:06] schollz commented on #92
@chrisprobst The naming structure can easily be changed. I see that they want `{cmd}_{goos}_{goarch}{.ext}`. I could update the naming and make a new release for that

[2018-10-27 05:09] HannanSolo commented on #92
Yeah @chrisprobst  bit way more than I could chew.

[2018-10-27 18:11] michal037 opened #109 "Better defined behavior when recipient tries receiving before sender sends"
## Expected Behavior
The program should return to its initial state when it does not receive a response for several minutes.

## Actual Behavior
No timeout function.

## Steps to Reproduce the Problem
  1. Launch Croc
  2. Click 'Receive'
  3. Select any directory
  4. Type any random password
  5. Here: The program is not responding!

## Specifications
  - Version: croc_4.1.1_Windows-64bit_GUI.zi

[2018-10-27 18:42] schollz commented on #109
@michal037 Not sure if this is a bug.

The normal operation is that sender sends and then receiver types in the sender's code phrase to receive. The receiver should not be trying to receive before getting the code phrase from a sender (unless its an attacker).

[2018-10-27 18:43] #107 closed

[2018-10-27 19:45] michal037 commented on #109
@schollz

It is true, it is pointless to enter the wrong password. However, it would be useful to be able to undo the "mistake", for example to create a "back" button.

Look at this scenario:

Someone wants to send a file, received a password and sent it to the recipient. The sender had a problem, he lost his connection to the internet, he stopped the program, whatever. At that time, the recipient

[2018-10-29 03:56] ledongthuc opened #110 "Issue when Go Get the app"
## Expected Behavior
 Get the app

## Actual Behavior
return errors:
[code]

## Steps to Reproduce the Problem

  1. Open command line, run `go get github.com/schollz/croc`

## Specifications

  - Version: 818e590d924795321ee06d1143552ff465250d16
  - Platform: MacOS 10.13.6
  - Go Version: 1.9

[2018-10-29 12:43] #110 closed

[2018-10-29 12:44] schollz commented on #109
@michal037 Okay, yeah that is very reasonable.

This could be done pretty easily through the relay - as the sender should always be connecting to a room first.

[2018-10-29 16:40] viam-invenient opened #111 "Bash installation on MacOS Fails with checksum error"
## Expected Behavior
Successful Installation

## Actual Behavior
curl https://getcroc.schollz.com | bash
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100  5205  100  5205    0     0  11095      0 --:--:-- --:--:-- --:--:-- 11098
Downloading croc v4.1.1 (macOS 64bit)...
Verifying checksu

[2018-10-30 02:42] schollz commented on #111
Oooh didn't realize that sha256sum is not on Mac. Can you do a `brew install sha256sum` or something? I don't have a Mac so I"m not sure I can assist

[2018-10-30 17:15] Fastidious commented on #111
@schollz on macOS is `shasum`.

[2018-10-30 17:55] schollz commented on #111
Which Sha does it use?

[2018-10-30 19:11] Fastidious commented on #111
@schollz a snippet from the man page:
[code]

[2018-10-30 21:43] schollz commented on #111
@Fastidious Thanks, try now

[2018-10-30 22:04] viam-invenient commented on #111
@Fastidious and @schollz Thank you guys so much!

[2018-10-30 23:15] schollz commented on #111
@viam-invenient Does it work?

[2018-10-30 23:37] Fastidious commented on #111
@schollz yes, it works.

[2018-10-31 00:03] Fastidious commented on #108
I, too, would like to know the advantages WebRTC would bring to croc.

[2018-10-31 13:49] #111 closed

[2018-11-01 10:13] dorxy opened #112 "Detect possible send intention for file/folder instead of code"
## Current behavior
When I try to send a file but forget 'send' in my command, there is no feedback that I might be doing something wrong. The tool outputs 'performing PAKE' and nothing else seems to happen.

## Improved behavior
When the first argument of the command is a detectable file or folder location, prompt the user with a message if they meant to send this file instead of directly interpr

[2018-11-01 13:58] schollz commented on #109
@michal037 Okay I pushed a fix where the recipient waits 3 seconds before quitting if the sender is not there.

[2018-11-01 14:05] schollz commented on #112
Can you give me an example of the exchange in the UI?

Something like:

[code]

[2018-11-01 14:55] #112 closed

[2018-11-01 14:57] Fastidious opened #113 "Minimal, missing \r\n"
When **croc** is run, and no code is entered (just hit return), the following happens:
[code]
Same happens when the code entered is wrong:

[code]

[2018-11-01 16:08] schollz commented on #113
Thanks @Fastidious , https://github.com/schollz/croc/commit/cf2363fd4e0ae4f6ee98bfc4275f533bfbd2c282 should fix it!

[2018-11-01 16:46] michal037 commented on #109
@schollz Thank you for the fix!

---

How exactly is the connection between the sender and the recipient set up each time?

1. Method 1
a. The recipient enters the password.
b. The recipient connects to the **server**.
c. The recipient connects to the **sender**, or when the sender is not there, waiting for him for 3 seconds.

2. Method 2
a. The recipient enters the password.
b. The recipient **tr

[2018-11-01 16:56] #113 closed

[2018-11-01 19:38] michal037 opened #114 "my propositions for improving the GUI - cosmetic changes"
## First

_Run Croc > Click Send > Select any file and apply it_

At this point, 'Code phrase' is shown. The sender still sees two buttons: `Send` and `Receive`. They do not have large functionalities. I propose you replace them with one `Cancel`. This will allow you to change the file if you make a mistake without restarting the program (Before sending the code phrase to the recipient.). Both but

[2018-11-02 13:18] schollz commented on #109
Thanks, yeah the directory opening is another problem which should be fixed soon.

The recipient doesn't wait for a sender, ever. If the sender is not there, it needs to exit. The 3 seconds is just time enough to connect to the server to see if the sender is there.

[2018-11-02 13:18] schollz commented on #114
Thanks, those are good changes, I'll incorporate them into the next release

[2018-11-02 14:05] michal037 commented on #109
You're right. Thank you for the explanation.

[2018-11-08 19:22] muhazzz commented on #101
@Fastidious @schollz I'm sorry, but zipping files would be the WORST approach. Did you ever tried to zip and transfer something bigger than 30Gb? Database dump files, for example... You'll wait many hours only to make zip. It's way better to send all files unzipped, in parallel

[2018-11-08 19:40] Fastidious commented on #101
@muhazzz I understand. If those files are already in a directory, the resultant ZIP file can already be huge, and take a long time to create. Perhaps using something other than **croc** for cases like these then? I am sure @schollz is open to suggestions. I don't think we will want to send all files unzipped.

[2018-11-08 19:43] schollz commented on #101
@muhazzz Good point. One of the benefits for croc is that for files you can just send in place, without using up extra disk. One clarification though: croc probably shouldn't send files in parallel. It already tries to use the full-bandwidth to send a single file, and I don't see an advantage to split the bandwidth across multiple files rather than just sending them one at a time.

If the answer t

[2018-11-08 20:44] muhazzz commented on #101
@schollz yes, in full-bandwidth case one at a time would be great.

[2018-11-15 16:20] ashishmax31 commented on #101
@schollz If this is not done already, can I take this up?

[2018-11-15 16:57] schollz commented on #101
@ashishmax31 Its not done, and sure you can take it up.

I think this will be a breaking change because it will have to add another communication between sender and recipient. Since only the sender knows that there are multiple files, it will have to communicate that, e.g. after each file it should probably tell the recipient "there's another file, get ready".

[2018-11-21 09:17] Sean-Der commented on #108
Hey @schollz @Fastidious I am the author of pion-WebRTC

If you used WebRTC for data-transfer you could have two users, both behind different NATs, and they would know be able to communicate without a central server. With UDP you can send/recv on your public IP and your gateway will pass through! [Hole Punching](https://en.wikipedia.org/wiki/UDP_hole_punching)

There is also a possibility of faste

[2018-12-12 04:45] vu3rdd commented on #71
fwiw, there is a spake2 implementation in Go available here: https://salsa.debian.org/vasudev/gospake2, that might save you some time than coming up with your own spake2 implementation.

[2018-12-14 09:54] woanware opened #116 "Local Transfer Fails: No peers"
## Expected Behavior

The file transfer succeeds using --local

## Actual Behavior

Fails on local network, tried on two separate hosts, one Windows 10, one Linux

## Steps to Reproduce the Problem
[code]
On the other host(s):
[code]
## Specifications

  - Version (`croc -version` or let me know latest commit in git log if using dev): croc version "v4.1.4-2018-11-06T03:06:41Z"
  - Platform: Both W

[2018-12-14 14:22] schollz commented on #116
@woanware

Are you having trouble going Windows -> Linux or Linux -> Windows or both?

[2018-12-14 14:37] schollz commented on #116
@woanware I noticed something before where sometimes it would work Win->Linux / Linux->Win and sometimes it didn't. I fixed the problem before by resetting my computer. I just found that i couldn't transfer from Linux->Win when I was testing just now. Instead of resetting the computer, I suspect the problem is with the multicast address ports being plugged up so I added a new commit (https://githu

[2018-12-14 16:39] woanware commented on #116
Thanks for the fast replies, appreciated.

@schollz I was going from Linux (ubuntu) to both Win10 and Linux (ubuntu), neither worked.

Got the latest code and compiled, and with that dev version on both the Linux hosts the transfer worked!

Haven't tried Linux->Windows yet as I need to change the compile parameters

[2018-12-14 16:45] woanware commented on #116
As an aside, this project is great, thanks for your work. I looked at magic worm hole, then started to write my own using Google Drive (individual use only) as I didn't want to rely on a third party relay, and then I found this project whilst researching PAKE for use in my own project.

[2018-12-15 19:19] schollz commented on #116
@woanware Thanks! If you saw my PAKE library you might also be interested in this: https://salsa.debian.org/vasudev/gospake2

[2018-12-18 15:45] #116 closed

[2018-12-21 08:56] codenoid commented on #100
weird bug,

`croc version "v4.1.4-2018-11-06T03:06:41Z"`

*.progress file not deleted on first-try download

[2018-12-21 18:46] schollz commented on #100
@codenoid, is this reproducible?

[2019-01-05 05:01] zedstar opened #117 "croc relay option"
## Expected Behavior

croc with relay option doesnt work as expected - quote from wiki -

"You can send files using your relay by entering -relay to change the relay that you are using if you want to custom host your own.

$ croc -relay "ws://myrelay.example.com" send [filename]"

## Actual Behavior

$ croc -relay
Incorrect Usage. flag provided but not defined: -relay

## Steps to Reproduce the Pr

[2019-01-06 02:36] schollz commented on #117
Thanks, the flag should be `-addr`, updated in readme

[2019-01-06 17:35] #117 closed

[2019-01-15 11:08] ghost opened #118 "Question: maybe possible with mobile also"
I use golang on mobiles. It's pretty easy.
So it's possible to get this project working between desktop and mobiles.
The trick however will be knowing the system calls for IOS and Android ( and maybe chrome  OS since android apps work on chrome OS these days )

I can get croc working with a GUI, but not sure of the API calls.

Anyone interested in this and helping investigate the API calls ?

[2019-01-24 19:57] shubhamkumar13 opened #119 "Question : Do you have any theoretical references that you used while creating this tool"
I was trying recreate it but I don't know how did you start it, I'm not a go developer, I was hoping if you can help me with reading material or library that I can use in python to recreate this cli.

I am only going for cli, thanks this is an awesome tool.

[2019-02-03 09:18] shubhamkumar13 commented on #119
Thanks a lot!!

[2019-02-03 13:02] #119 closed

[2019-02-12 20:57] toonn opened #121 "Croc is currently broken?"
## Expected Behavior
[code]

## Actual Behavior
[code]

## Specifications

  - Version: 4.1.5
  - Platform: sender linux/receiver windows, sender mac/receiver same mac

[2019-02-12 21:10] schollz commented on #121
Can you print the actual full output from both sides?

[2019-02-13 12:34] toonn commented on #121
I can't seem to reproduce it today. Maybe the PAKE server was down or something? The sender just got stuck on the "On the other computer run: croc code-here" message though and the receiver side was the actual full output modulo a newline.

[2019-02-16 18:50] schollz commented on #121
I'm not sure, I'll close this until it is reproducible

[2019-02-16 18:50] #121 closed

[2019-02-22 19:11] toonn opened #122 "UX issue around continued transfers"
When continuing an interrupted transfer the already transferred bits are included in the transfer speed calculation. This results in silly speeds à la `7423874 MB/s` in the beginning and while this does settle somewhat while the transfer continues the estimate is too optimistic and makes the estimated completion time inaccurate if not useless.

Thanks for croc! It's great software and the focus on

[2019-03-31 19:41] toonn opened #123 "Bad handshake?"
After stopping a stalled transfer with `^C` I've been getting this error:
[code]

This is on a mac. I have no idea what it's about or how to fix it?
Same result on a linux machine. Maybe the relay is refusing a connection to my IP?

[2019-03-31 20:00] schollz commented on #123
Does it send properly without canceling?

I think you may have to update to the newest version.

[2019-03-31 20:01] toonn commented on #123
Hmm, never mind. Turns out this was because of some data gating from my ISP. Somehow hit croc before it hit normal web browsing.

[2019-03-31 20:01] #123 closed

[2019-04-01 10:45] nilayparikh commented on #110
Hi I am on higher version but still having similar issue,

D:\organisations\xxxx\xxxxx\source\go> go get -u github.com/schollz/progressbar/v2
package github.com/schollz/progressbar/v2: cannot find package "github.com/schollz/progressbar/v2" in any of:
        C:\Go\src\github.com\schollz\progressbar\v2 (from $GOROOT)
        D:\organisations\xxxx\xxxx\source\go\src\github.com\schollz\progressbar\v

[2019-04-01 13:07] schollz commented on #110
Use `$env:GO111MODULE="on"`

[2019-04-06 10:06] quite commented on #118
This is interesting. Though I have not yet even tried building a mobile app in *any* language. To start with, I would be interested learning to build something for android with as much go as possible (and flutter?). Do you have any pointers? Sorry for hijacking this issue!

[2019-04-06 13:26] gedw99 commented on #118
Gomobile compiles to iOS and Android.
Then you make a flutter plugin to wrap it.

Best to use JSON to make life easy initially.
Can upgrade to grpc once things working.

[2019-04-06 13:27] gedw99 commented on #118
If your interested we can work on this together. Do you have flutter experience ?

[2019-04-08 11:41] Fastidious commented on #108
Came across [this one today](https://github.com/Antonito/gfile/tree/v0.1.0). Not the most elegant approach, but a working version.

[2019-04-08 14:16] schollz commented on #108
@Fastidious Awesome thanks! Its MIT, so I will fork it and work on it.

[2019-05-03 00:24] schollz commented on #101
This is working now in v6.0.0

[2019-05-03 00:24] #101 closed

[2019-05-03 00:27] schollz commented on #108
There is a working prototype of this: https://github.com/schollz/croc/tree/v5

However, its buggy. It works sometimes, but not always and not for any reasons I can root out. I think it has to do with packets being dropped...but I'm not sure.

Also, when it works, its slower than using TCP sockets - up to four times slower. I'm not sure how it can be optimized. Anyways, it's there if someone wants

[2019-05-03 00:27] schollz commented on #100
This shouldn't be an issue anymore since progress files are no longer used in v6.

[2019-05-03 00:27] #100 closed

[2019-05-03 00:28] #109 closed

[2019-05-03 03:59] schollz opened #125 "Known issue: large file continuation overloads packet size with number of blocks"
This only affects stopping and starting large file transfers.

It should be pretty easy to fix, instead block ranges can be used instead of just a list of blocks.

[2019-05-03 14:30] #125 closed

[2019-05-03 15:11] schollz opened #126 "Use relay to find best local port (in case peer discovery fails)"
After receiver sends "handshake", sender sends back list of local IPs. Receiver tries local IP instead to make connection. If okay, receiver sends "go", otherwise receiver reverts back to relay and sends "go"

[2019-05-03 20:51] #126 closed

[2019-05-04 17:00] Sean-Der commented on #108
@schollz

Nice work! I would love to profile it, it is probably just exposing where `Pion WebRTC` falls down :) I am on a family vacation for another week, but will try to find some time!

When it `doesn't work` at what part do things fall down? Does it fail to connect, does it deadlock etc..?

WebRTC won't work under all network conditions (If you are behind a `Symmetric NAT` or UDP is blocked et

[2019-05-13 14:08] meyermarcel commented on #92
How does self-updating overlap with update processes in package managers like [Homebrew](https://brew.sh) and [Scoop](https://scoop.sh)?

[2019-05-13 15:04] schollz commented on #92
@meyermarcel Good point, I think those better handle this issue! Closing.

[2019-05-13 15:04] #92 closed

[2019-06-11 13:06] greyireland opened #131 "how receive file from relay?"
Self-host relay
The relay is needed to staple the parallel incoming and outgoing connections. By default, croc uses a public relay but you can also run your own relay:

$ croc relay
Make sure to open up TCP ports (see croc relay --help for which ports to open).

You can send files using your relay by entering --relay to change the relay that you are using if you want to custom host your own.

$ cr

[2019-06-17 16:42] #131 closed

[2019-07-03 14:12] qianlifeng opened #133 "Wrong version in https://getcroc.schollz.com"
The latest version is v6.0.9 in the github release page, but https://getcroc.schollz.com is using v6.0.10, which will cause 404 error when installing croc.

[2019-07-03 14:18] schollz commented on #133
Thanks! Its updated.

[2019-07-03 14:18] #133 closed

[2019-07-07 17:26] Bluefire-610 opened #135 "Croc default server not reachable."
The default Croc server (croc4.schollz.com) doesn't seem to be reachable, trying to send a file returns the following error message:

`2019-07-07 19:00:49 [31m[ERROR][0m sending.go sendReceive:160 dial tcp: lookup croc4.schollz.com: no such host`

I could replicate this on multiple windows devices in multiple - unrelated - networks within Europe.

[2019-07-07 21:47] schollz commented on #135
Could you upgrade to the newest version?

[2019-07-12 12:20] #135 closed

[2019-07-13 14:57] icefoxen opened #136 "Pipe-to-bash should not be suggested for a project with emphasis on security"
The first option for installation the docs state is: `curl https://getcroc.schollz.com | bash`.  I appreciate the desire for convenience, but this really isn't anything other than a gun looking for a foot to shoot, and I feel like we shouldn't be encouraging it.

I would also argue that "does not require a server" while using a relay server is getting *uncomfortably close* to false advertising, al

[2019-07-14 03:27] schollz commented on #136
@icefoxen

There are other options for installing listed.

If you don't want to pipe-to-bash then I would suggest building from source as described in the readme.

[2019-07-14 03:27] #136 closed

[2019-07-14 17:14] icefoxen commented on #136
Yeah, sorry if I came off as grumpy.  I'm just of the camp that "pipe to bash" should never be an option, let alone the first option advertised.  You might as well store passwords in plaintext.  Though I do appreciate that there's no *easier* option*.  :man_shrugging:

[2019-07-14 23:39] jungle-boogie opened #137 "machineid: exec: "kenv": executable file not found in $PATH"
Hi,

Thanks for writing croc - you've found a good problem to solve.
If you're interested, I first found out about it here:
https://lobste.rs/s/j0butq/easily_securely_send_things_from_one

Unfortunately, I haven't been able to test it out on OpenBSD -current amd64, because of this message:

[code]
Is there some other binary I need to install on OpenBSD?
I built croc from src and used your binary,

[2019-07-14 23:47] jungle-boogie opened #138 "OpenBSD: fatal error: runtime: out of memory"
Hi,

Fair warning, I may be doing something incorrectly, which could be the cause for this runtime issue.

Trigged by:

1. croc relay
2. Visit url in browser. ex http://localhost:9009
3. Load page
4. Wait for croc to crash

[code]

[2019-07-15 01:00] schollz commented on #137
Hm, I don't know OpenBSD, but it looks like `kenv` is used in this package to get the machine ID: https://github.com/denisbrodbeck/machineid#snippets

If its a problem I can probably just get rid of that dependency. I don't use it for anything, its a holdover from a previous version.

[2019-07-15 01:03] schollz commented on #138
Haha, thanks for that. I never thought of doing that.

There is no HTTP protocols behind handled at that port, its actually a specific TCP handshake. I need to work out a way to reject incoming HTTP.

Did you go to that URL to see what would happen? I don't think there is anything directing you to open that URL (and there is I should remove it).

[2019-07-15 01:06] schollz commented on #137
@jungle-boogie Btw, thanks for that link. That site is invite-only - would you be able to invite me? I'd like to shed light on some of the design decisions that are being discussed in that thread, it looks like a good place to get feedback.

[2019-07-15 01:14] jungle-boogie commented on #137
Hi @schollz,

I also don't have an account and don't know of anyone to ask for an account. I think there's an irc channel you can join and perhaps request an account.

[2019-07-15 01:18] jungle-boogie commented on #138
@schollz,

Yes, it prints this:
`(���9010,9011,9012,9013|||192.168.0.16:50824`

The ip address seen there is the machine initiating the correct.

There isn't anything directing me to go to the URL, just wondered what would happen.

FWIW, the same crash on ubuntu amd64 localhost doesn't crash. I don't have another linux machine to see what would happen if it was a remote linux host. Probably also n

[2019-07-15 01:21] schollz commented on #138
Oh neat! So yeah, that's the first message that the relay will beam back, and then the relay expects some more info so I guess it will just wait forever until it stalls out, or panics on BSD. I didn't see a panic on Ubuntu either...its pretty curious.

[2019-07-15 01:23] jungle-boogie commented on #137
It looks like you are importing the machineID library:
https://github.com/schollz/croc/blob/master/src/croc/croc.go#L20

And it looks like it was cloned on my system:
`/home/jungleboogie/gopath/src/github.com/denisbrodbeck/machineid`

`BSD uses /etc/hostid and smbios.system.uuid as a fallback`

My system doesn't have that file. I'll see if I can find where a machineID would be stored for OpenBSD.

[2019-07-15 01:24] schollz commented on #137
@jungle-boogie Great! You should make an issue/PR for @denisbrodbeck, I bet he would appreciate it!

[2019-07-15 01:34] jungle-boogie commented on #137
If you don't use `kenv`, would you consider removing that dependency? Issue opened with Denis for `kenv`

[2019-07-15 02:36] schollz commented on #137
Cool.

Yeah, machineid is now gone! https://github.com/schollz/croc/releases/tag/v6.0.12

[2019-07-15 02:44] jungle-boogie commented on #137
Verified fixed in
[code]

Thank you!

[2019-07-15 02:44] #137 closed

[2019-07-16 22:15] gufertum opened #140 "Config file for sticky parameters"
Is it possible to add some kind of config to make the relay information sticky?

[2019-07-16 22:36] Fastidious commented on #140
This commit (https://github.com/schollz/croc/commit/562925b5e5211e351734a3dc5d5bf179cd1ff134) implemented a config and used to work. I really wonder why it was dropped. @schollz?

[2019-07-17 07:37] CompuRoot opened #141 "No checking for live relay on sending"
### Use case:

1. Shutdown relay (emulate occurrence of network or server down)
2. Send some files with `--relay` option as `croc --relay "8.8.8.8:12345" ./someFile`
3. Start relay
4. On receiving side try to receive file with password generated on originator.

**Result:** receiver stack on "connecting..."

**Suggestion:** check for live relay on sending in the same way as it's done on receiving a

[2019-07-17 14:54] schollz commented on #141
@CompuRoot

I don't understand the sender's role here? You are saying that a receiver connecting without a sender will hang? This is actually defined behavior. If the receiver connects to the relay first (like it does in your example), then it will wait for the sender to connect.

[2019-07-17 14:54] schollz commented on #140
@Fastidious During the rewrite I didn't implement. I think it would be nice to have too, lets keep this issue open for it.

[2019-07-17 15:02] CompuRoot commented on #141
No, Im saying, that if you start sender and in this moment there wouldn't be listening relay, then sender just waiting as usually and don't show any error message but in fact there no relay.
If you after that you would start relay and will try to receive file from that sender(that started when relay was down) then receiver (as well sender) will wait forever for each other

[2019-07-17 15:06] schollz commented on #141
Yeah, this is defined behavior.

The sender actually connects to *two* relays. It connects to the public one (which you disabled in your example) but it won't complain because it also connects to a local one. The local one is used for LAN file transfer. Since it doesn't known whether the transfer will occur via LAN or public for either, it will wait for either. You can disable local though with `-

[2019-07-17 15:18] CompuRoot commented on #141
@schollz

I running relay outside on LAN, on dedicated server with dedicated static IP address and assuming if I using `--relay` option on sender && receiver then communication would happen over this particular relay **only** (Please confirm, if it is).   BTW, I didn't saw anywhere in documentation, that  "sender actually connects to two relays". Does it means that sender always starting local rel

[2019-07-17 17:27] schollz commented on #141
Here's the relevant code: https://github.com/schollz/croc/blob/master/src/croc/croc.go#L225-L321

The sender will open a local relay as well as connecting to the relay specified.

The flag is `--no-local`:

[code]

[2019-07-17 18:24] CompuRoot commented on #141
@schollz

I'm really sorry to annoy you, but `--no-local` doesn't help.
Step-by-step issue reproduction:

1. Stop your own relay if it working
(relay that runs outside of LAN, somewhere on dedicated server on internet)
2. Issue on the sender's side:
`croc --relay "IP.OF.OWN.RELAY:12345" send --no-local /path/2/file/2/send`
3. Start your own (not a local) relay (that one that have been stopped in s

[2019-07-17 18:55] schollz commented on #141
Yes, so the bug I see here is with your step 2.

In that case, the local relay is not being used and then the connection is refused but  it still hangs.

I can confirm this happens:

[code]

I think what should happen in that case is that the sender should give up, prompting the user to try again.

Steps 3 and 6 are fine. The receiver will get the file once the sender reconnects.

[2019-07-17 19:04] schollz commented on #141
@CompuRoot I just pushed a commit that should fix it.

[2019-07-17 19:05] CompuRoot commented on #141
@schollz

Yes, that what I meant originally, - sender should be make sure if relay (non local ) is working and in case if sender can't communicate to relay then fail gracefully with some error message or **better yet** wait some specified timeout period for relay and then fail or run depending on relay availability.

<hr>

BTW, wouldn't be it more logical to generate correct message on sender's si

[2019-07-17 19:08] schollz commented on #141
@CompuRoot That's a great idea. Can you make a new issue with that?

[2019-07-17 19:09] CompuRoot commented on #141
Yes, sure, will do now

[2019-07-17 19:13] CompuRoot opened #143 "Generate precise command on sender for receiver when --relay option used [enhancement]"
`croc` version: 6.0.12

IMHO it would be more logical to generate correct message on sender's side when own relay is in use, so instead of:
[code]

it would be more correct message:

[code]

otherwise if users would follow instruction, they won't be able to find each other in this case.

[2019-07-17 20:13] #143 closed

[2019-07-18 13:24] schollz commented on #140
Okay, I've added `--remember` which will save the current settings for sender/receiver and which will be reloaded next time (unless overridden).

[2019-07-18 13:24] schollz commented on #140
https://github.com/schollz/croc/commit/bd7ab1a9be95eb5a615661caba0fd3427f687291

[2019-07-18 13:24] #140 closed

[2019-07-18 13:25] #141 closed

[2019-07-18 13:25] #138 closed

[2019-07-18 13:25] gufertum commented on #140
👍

[2019-07-18 19:09] pdobsan opened #145 "crock chokes on empty files"
Using croc 6.1.0 and running my own relay on a VPS I encountered a strange problem. Whenever croc transfers an empty file, for example a zero size lock file, it gets stuck forever and cannot continue with further files. The empty file has been transfered however.

I compiled croc from sources, and the three machines involved were running archlinux.

[2019-07-18 21:42] schollz commented on #145
Thanks, I've seen this bug before. I will work on it.

[2019-07-19 04:12] jungle-boogie commented on #138
Was this fixed?

[2019-07-20 11:07] ferebee opened #146 "appears to require go 1.12 contrary to README"
If I try to build on go 1.11.5 (installed on SmartOS via pkgsrc), I get an error

`go/src/github.com/schollz/croc/src/cli/cli.go:98:17: undefined: os.UserHomeDir`

This does not occur with go 1.12.5. Is 1.12 a requirement? The README states a requirement for 1.11+.

[2019-07-20 16:01] schollz commented on #146
Yeah, I wanted to use ethe `os.UserHomeDir` so I bumped the version needed.

[2019-07-20 16:01] #146 closed

[2019-07-20 16:04] schollz commented on #145
Should work now: https://github.com/schollz/croc/releases/tag/v6.1.1

[2019-07-20 16:04] #145 closed

[2019-07-24 08:22] mikeroyal opened #147 "Snap [Feature Request]"
I was wondering if you might have an interest in [snap](https://snapcraft.io/). Snap also supports and works with Goreleaser too. https://goreleaser.com/snapcraft/

[2019-07-30 20:40] dtluna opened #148 "No i18n/l10n"
It would be really nice if non-English speakers could use `croc` just as comfortably as I do. I would happily do the Russian l10n after the i18n is complete.

[2019-08-01 17:35] TheQueasle opened #149 "Install Script FreeBSD Support and Checksum Checks"
I was attempting to install this on my FreeNAS box (FreeBSD) and encountered an issue when the install script gets to the checksum part.

The command `sha256sum` does not appear to be available on FreeBSD.  At least I could not find it.

While I was working on the script to fix this issue, I also noticed that it seems like the logic that does the checksum verification may not be working (lines 145

[2019-08-10 18:53] omgitsraven opened #151 "Suggestion: auto-retry?"
I'm trying to send a large file to a friend who has a flaky connection, and while the resume function is working, we always have to manually re-connect on both ends every time something goes wrong, which means that the transfer can't continue until we're both back at our keyboards.

Specifically, on the sending end I'm seeing:
[code]
Does that seem like the type of error that, rather than crashing

[2019-08-10 21:36] #114 closed

[2019-08-12 03:42] schollz commented on #151
@omgitsraven I like this idea.

Maybe it could be a flag? Like `--reconnect`, where if its enabled it will keep reconnecting on broken connections.

[2019-08-12 03:42] schollz commented on #149
This was merged! https://github.com/schollz/croc/pull/150

[2019-08-12 03:42] #149 closed

[2019-08-12 13:55] omgitsraven commented on #151
That could work, although it'd either mean suffering one failed attempt in order to find out you need it, or else including the flag all the time just in case you do... Like, what would be someone's motivation *not* to use the flag just in case?

[2019-09-04 12:41] joeblew99 commented on #108
@schollz

As @Sean-Der was talking about Webrtc works for about 80 to 90% of times without needing a rely. If you do need a WebRTC relay pion project has STUN and TURN Servers which do that for you automatically.

There are many examples out there as pion is very popular.

[2019-09-05 04:35] schollz opened #154 "croc doesn't work in cygwin"

[2019-09-20 14:12] taotien opened #156 "Helpfile doesn't explain how to use a custom code"
nbd as the readme has this

[2019-09-20 23:01] schollz commented on #156
@taotien What helpfile do you refer?

[2019-09-25 08:14] taotien commented on #156
croc -h

[2019-10-14 02:46] dangdennis opened #158 "This is such a freakin amazing piece of software. Not an issue."
Thanks Schollz and fellow contributors.

[2019-10-14 02:46] #158 closed

[2019-10-14 12:08] Fastidious commented on #158
@dangdennis you meant well, but it is such a misuse of an `issue`! The [author email](mailto:zack.scholl@gmail.com) is clearly stated on his GitHub profile.

Cheers!

[2019-10-15 23:30] schollz opened #159 "Add --ask which will ask BOTH sender and recipient if they want to commence transfer"

[2019-10-19 03:27] EdisonJwa opened #160 "connection refused"
connecting...could not connect to 142.93.177.120:9009: dial tcp 142.93.177.120:9009: connect: connection refused

[2019-10-23 20:24] schollz commented on #160
Server was down, I put it up as soon as I saw this message, thanks!

[2019-10-23 20:24] #160 closed

[2019-10-23 22:01] #159 closed

[2019-10-28 17:39] vesche opened #162 "Error as user "tcp/hi: unknown port""
Hey there, first off just want to say thanks I use this tool daily and I love it. First time I've seen this error "unknown port"? I decided to yolo run it as root and it worked. Just wanted to report it.

[code]

I'm on Arch Linux, I'm using croc_6.2.0_Linux-64bit.tar.gz
[code]

[2019-10-28 17:47] schollz commented on #162
@vesche This is a weird error.

I can think of two things. Are you using the `--remember` flag to save config? Do you have the `RelayPort` option set to `hi`?

The other possibility it that you had something else on the peer discovery channel which was broadcasting `hi` as its payload and not the port. Is this error reproducible?

[2019-10-28 18:00] vesche commented on #162
Yes, I just re-ran everything (both sides of the transfer) and am getting that same error. I'm on a shared wifi connection working at the moment, so I have no idea what could be going down on this network. I am not using this `--remember` option and have no RelayPort option.

So, I just connected to a VPN, and everything works fine now. Someone maybe is doing something weird on this net? Time to g

[2019-10-28 18:01] #162 closed

[2019-10-28 19:19] schollz opened #163 "Prepend payload with 'croc' so no interference from other broadcasts"

[2019-10-28 20:15] #163 closed

[2019-10-28 20:38] schollz opened #165 "Receive croc files from browser"
Using this: https://jimmywarting.github.io/StreamSaver.js/examples/write-slowly.html

[2019-10-30 01:25] vesche commented on #162
Thanks :+1:

[2019-11-04 00:10] taigrr opened #167 "Readme build from source doesn't work"
#166 solves this. Code was refactored but go get command wasn't updated.

[2019-11-04 17:30] taigrr commented on #167
PR merged, closing.

[2019-11-04 17:30] #167 closed

[2019-11-08 09:19] Sean-Der commented on #108
@schollz

We dramatically improved SCTP performance! If you have some time, would be curious what you think/see results wise with https://github.com/pion/webrtc/tree/master/examples/data-channels-flow-control

Don't want to burn your time, but I think running file transfers over WebRTC opens up a lot of stuff (especially if you can hook croc up to a browser).

thanks

[2019-11-08 16:48] schollz commented on #108
@Sean-Der Cool! Thanks for all your work, I'm looking forward to trying it out again!

[2019-11-08 17:15] schollz commented on #108
@Sean-Der I just tried it between two peers over internet. It's as fast as croc, without any of the multiplexing. Nice! I will definitely work on a version using webrtc using this :)

[2019-11-08 21:52] Sean-Der commented on #108
That is fantastic news, I am really excited.

If anything comes up please throw it my way, would really love to see this. Having a killer `Command Line` <-> `Browser` file transfer is going to be great, especially with how easy it is to `go get...` croc it just can't be beat :)

thanks @schollz

[2019-11-08 23:38] schollz commented on #108
@Sean-Der Agreed. I've been waiting for certain pieces to fall into place. An efficient CLI<->browser data pipeline was one of them, and you've got that locked down nicely now :)

I've already got a good idea how to do the browser Javascript file handling (https://github.com/schollz/croc/issues/165) and I've also figured out how to bundle all my PAKE directly into Javascript using WASM (https://gi

[2019-11-11 18:04] kazie opened #168 "croc starts eating a lot of CPU if noone retrieves file."
[code]

So today I set up a file to send, but my friend said he was going to do the download later (several hours). So I left croc on with `send` and left it at that.

Many hours later, I was checking `htop` on the same computer and saw that said croc session had started to chew a lot of CPU on two threads.

![2019-11-11-184128_655x38_scrot](https://user-images.githubusercontent.com/1390887/686090

[2019-11-11 19:13] schollz commented on #168
Thanks! Looking into it

[2019-11-11 19:24] schollz commented on #168
I think I found the problem. While waiting for connections (sometimes) the relay server will send back EOFs...not sure why. But since this is in a forever loop it will constantly be processing those bytes. I just put a throttle on it so that should curb the problem (not entirely fix) if it happens again.

I only reproduced this a few times. Otherwise croc seems to use 0% cpu while waiting to send.

[2019-11-12 19:20] mikemadden42 opened #169 "Unable to build croc"
I'm unable to build croc:

[code]

[code]

[2019-11-12 20:00] schollz commented on #169
Try

[code]

[2019-11-12 20:05] mikemadden42 commented on #169
I'm having an issue with the URL:

[code]

[2019-11-12 20:06] schollz commented on #169
Whats your `go env`?

[2019-11-12 20:08] mikemadden42 commented on #169
Here's the output of `go env`

[code]

[2019-11-12 20:09] schollz commented on #169
Yeah that's what I thought.

You'll have to enable GO111MODULE, since this uses modules. Sorry, Go is not too smooth when it comes to modules still.

Try

[code]

[2019-11-12 20:12] mikemadden42 commented on #169
Thanks.  That works.  I'm guessing `croc` was recently switched to use Go modules?  I only recently ran into this issue.

[2019-11-12 20:13] schollz commented on #169
Yeah, it was pretty recent. Glad it works!

[2019-11-12 20:13] #169 closed

[2019-11-17 20:17] maximbaz opened #171 "Hangs when didn't accept receive on the first try"
Person A sends a file using `croc send file.txt`

Person B runs `$ croc my-secret-key`, but when asked "Accept file (y/n)?" accidentally presses `Enter` without pressing `y`. This results in "refused files" (OK).

Person B runs `$ croc my-secret-key` a second time, but this time connection is never established, the process hangs on `connecting...`.

Aborting with `Ctrl+C` and running `$ croc my-se

[2019-11-17 20:55] schollz commented on #171
Thanks. This is an issue with it hanging on and waiting for the local channel (if there is one, since it doesn't ever know). In this case though person B is actually refusing the files so that should be transmitted back. I have a fix

[2019-11-17 21:00] schollz commented on #171
@maximbaz Try that if you get a chance!

[2019-11-17 21:04] maximbaz commented on #171
Fix confirmed, thank you 👍

[2019-11-17 21:04] #171 closed

[2019-11-17 21:20] schollz commented on #156
b7625ef55ca83825a8c78e1ae04b2f2049122b58 should fix this

[2019-11-17 21:30] maximbaz opened #172 "Provide a source tarball with vendored dependencies"
Hey, would you be able to provide one more archive as part of your release, a source tarball just like Github is building for you (source.tar.gz) but with vendored dependencies? These can be generated using `go mod tidy; go mod vendor` commands.

I want this to allow building `croc` in a clean environment without internet access (assuming source tarball is already present), which might for example

[2019-11-17 23:32] maximbaz commented on #172
I've just went through [the same exercise](https://github.com/maximbaz/yubikey-touch-detector/commit/1bb99dfdd6a36c7c97ec3f1c27a520aed072683a) for my own project, I wasn't correct in suggesting to use `git archive`, as it won't include `vendor/` folder that is not under version control.

I can see you are using `goreleaser`, maybe you'll know a better way of achieving this, but what I found so far

[2019-11-18 10:40] cyrinux opened #173 "prevent open relay / protect relay by a password?"
Hi,

Thanks for this cool soft!

Could you please add a way to protect private relay with a password?

Thanks you!

[2019-11-18 15:40] schollz commented on #172
@maximbaz Thanks! I got it working, but I'm not sure how to upload the prepared tarball to Github via goreleaser. Waiting on that :)

[2019-11-18 15:47] schollz commented on #173
Yeah that would be easy to add.

[2019-11-18 15:47] maximbaz commented on #172
I think it worked, looking at the 6.2.4 release I can see `croc-src.tar.gz`!

A minor annoyance is that `croc-src.tar.gz` does not contain the application version (neither in its name, nor in the folder inside the archive), it's because I didn't know how to retrieve the current version from inside the hook script that creates this tarball. If you have any ideas how to pass version to the script, i

[2019-11-18 15:54] maximbaz commented on #172
It worked really well for me, my build script can compile the binary and run all your tests without downloading anything from internet, awesome!

[2019-11-18 16:35] cyrinux commented on #173
Thanks for your reactivity !

[2019-11-18 16:35] #173 closed

[2019-11-18 16:41] kazie commented on #168
The time when it comes to the state where it reads `EOF` forever, to me it seems like that the file will never be able to be sent.
And thus woudn't it be better to crash/exit, than having a eternal for-loop sleeping for 100ms each iteration?

[2019-11-18 18:01] schollz commented on #172
@maximbaz Great, but I actually uploaded that src manually. I still have to figure out how to integrate into goreleaser

[2019-11-18 18:06] schollz commented on #168
What exactly are you doing to get this error?

[2019-11-18 18:26] kazie commented on #168
Sending a file, and having bad luck while no-one is going to receive it?

I mean, does the mitigation that was patched actually do anything other than eating lower CPU due to the sleep mitigation. Can the data actually be recieved?

When I tried (still same version as before) I was able to fetch the file when not bugged, and client is stuck on `connecting...` when the bug has arrived.

---

Now tr

[2019-11-18 18:32] schollz commented on #168
What version of croc is this?

[2019-11-18 18:34] kazie commented on #168
`croc version v6.2.0-ffddd3e`

[2019-11-18 18:34] schollz commented on #168
Can you try running the latest version? And then try using the `--debug` flag to see what is happening?

[2019-11-18 19:18] maximbaz commented on #172
I bet the trick is to update the line `mv $tmp/croc-src.tar.gz dist/` and put the file in a subfolder inside `dist/`, I don't know if that has to be a real architecture like `dist/linux_amd64/` or it can be anything like `dist/sources/` - try both perhaps, if you have a chance! 🙂

[2019-11-18 19:43] kazie commented on #168
Ok, I have updated to:
[code]

Will now wait for a while (as I've done before) to test. running with `--debug`` will report back in a while!

(mini test without waiting looking good so far!)

[2019-11-18 20:05] kazie commented on #168
So, I waited a while, then connected accidently hit `Ctrl+C` in shock instead of answering `n` . But as soon as it connected is sprayed out *A LOT* of the same message.
And now it became stuck in that forever loop again.

![2019-11-18-210310_1365x373_scrot](https://user-images.githubusercontent.com/1390887/69087626-133de280-0a47-11ea-9d64-ee99974023a9.png)

[2019-11-18 20:06] kazie commented on #168
I tried to send again, and it instantly got into the same loop:
[code]

[2019-11-18 20:08] kazie commented on #168
And like I said, once it started that loop, instead of quitting it continues forever, and cannot connect to it.

![2019-11-18-210747_1357x265_scrot](https://user-images.githubusercontent.com/1390887/69088359-8ba4a380-0a47-11ea-9b79-8afa18e9c853.png)

Probaby when getting that `EOF` one should quit the program instead?

[2019-11-18 21:19] schollz commented on #168
Yeah, so this turns out to be a little complicated. I had to introduce "pinging" so that the relay can keep track of connections and close them when they are exiting at the user side. I think the new release should work: https://github.com/schollz/croc/releases/tag/v6.4.0

[2019-11-19 06:20] kazie commented on #168
Cool!
I might be able to, but cannot promise to test and verify once I get home for the evening in 14 hours or something. :)

[2019-11-19 16:37] schollz commented on #172
According to their slack, there is no way to do this :( I will just upload manually when I can!

[2019-11-19 16:37] #172 closed

[2019-11-19 16:49] maximbaz commented on #172
Oh really 😞 But thanks! I'll update Arch package to use `croc_${pkgver}_src.tar.gz`, and it becomes annoying too much to do it manually, let me know, maybe we can figure a way to automate this, via travis for example?

[2019-11-19 17:24] schollz commented on #172
@maximbaz Nvm! I added it to the post-hook. All good now :)

[2019-11-19 18:55] maximbaz opened #177 "Relay password is not being read from config file"
1. Configure a relay and save its settings to the file:

[code]

1. Send the file using the saved configs:

[code]

Expected: it will work

Actual: relay is being read from the config, but relay password is not, resulting in:

[code]

This works, so the problem is definitely in the password.

[code]

The password is present in the config file, it's just not being read by `croc`.

----

And if afte

[2019-11-19 19:09] maximbaz opened #178 "Making use of multiple relay ports"
I might be misunderstanding something here, let me know 🙂

I noticed that relay is listening on 5 different ports, namely `9009-9013`.

When I do `croc send file1`, I also see that `croc` opens all 4 ports on my local machine.

Question 1: Why are 4 ports being opened locally? Isn't it enough for the local `croc` to use a single port to access the relay? I imagine it would easily be possible to le

[2019-11-19 19:35] schollz commented on #178
1) One port is used for communication (9009). The other ports are used for sending the data in parallel.

2) Separating the data transfer and the communication made programming easier, although its not strictly necessary I think. I used multiple ports for the data channel because it can improve transfer rates. (You can test this by adding `--no-multi` to the sender. On my computer, on local connec

[2019-11-19 19:45] maximbaz commented on #178
Wow, this is very interesting, thanks for explaining!

3. Yeah I think it would be nice to let `croc` try communication port `9009` by default if no port was specified, after all `croc --relay myrelay.com send file1` actually works and tells me to share `croc --relay myrelay.com my-code` with receiver (notice it doesn't add the port), but if receiver runs this command as is it will fail for them.

[2019-11-19 19:47] schollz commented on #177
Thanks, I pushed a fix for this

[2019-11-19 22:02] #177 closed

[2019-11-19 22:23] schollz commented on #178
Yeah, this is a easy fix, will try 9009 before it complains 👍

[2019-11-19 22:42] kazie commented on #168
![2019-11-19-233904_1365x379_scrot](https://user-images.githubusercontent.com/1390887/69192968-047a2d00-0b26-11ea-835f-b14681e78fe8.png)
![2019-11-19-233837_1365x378_scrot](https://user-images.githubusercontent.com/1390887/69192969-047a2d00-0b26-11ea-8247-45d47f94f230.png)

I might have a bad build, or wrong kind of setup now. But now it doesn't work, maybe do to same IP?
![2019-11-19-234205_1365x

[2019-11-19 22:56] schollz commented on #168
Are you using a custom relay?

[2019-11-20 00:40] maximbaz commented on #178
Questions got answered, improvements got implemented, closing 😄

[2019-11-20 00:40] #178 closed

[2019-11-20 00:43] schollz commented on #168
Also can you try doing `--no-local` on the sender?

[2019-11-20 07:23] kazie commented on #168
I was using default relay.

And if I run it using `--no-local` on the sender, then the client doesn't crash and works as expected.

With `--no-local` (running locally)
![2019-11-20-082051_1365x376_scrot](https://user-images.githubusercontent.com/1390887/69217390-dc62ec00-0b6e-11ea-81f2-9e24bb5eb748.png)

Without `--no-local`.
![2019-11-20-082114_1363x378_scrot](https://user-images.githubuserconten

[2019-11-20 07:25] kazie commented on #168
Anyhow, that is probably a separate issue.
I can try to verify later today, and hopefully close this ticket later in the evening :).

[2019-11-21 22:31] kazie commented on #168
Sorry for the delay :pray:
I did a verification where I tried to send a file, waited for a long while - I see it logging about pings every second expecting everything to work as intended.
But as I connected from the other host it crashed instead.

Server:
[code]

Client (other machine on my network):
[code]

Both running:
[code]

[2019-11-21 22:43] schollz commented on #168
Thanks. I think I know the origin of this issue. I had it as well.

Does the recipient server have its ports open to the internet? I believe the issue is that the sender can connect to 9009 and then it thinks that that server is a local server and tries to connect via 9010, instead of using the public relay.

[2019-11-21 22:44] schollz commented on #168
I believe that a fix is to check whether local addresses are really "local" or not using something like https://golang.org/pkg/net/#ParseCIDR

[2019-11-21 23:01] kazie commented on #168
Ok, so it had nothing to do with the wait?
I tried a few times, without waiting, working every time.
![2019-11-21-235834_1365x373_scrot](https://user-images.githubusercontent.com/1390887/69383785-e42fa700-0cba-11ea-9546-718c205cd203.png)

So I actually have no idea what you're exactly asking about. It seems to me, like I have described since the beginning is that if the server is waiting for some

[2019-11-21 23:11] schollz commented on #168
Can you try the master version now? I pushed two changes that I think fixed the problem.

[2019-11-21 23:15] schollz commented on #168
The connections are a bit tricky, let me try to explain.

Two computers meet on a public relay. At the same time, both computers check to see if they are on a local network. The local network takes precedence if it exists.

If the computers don't find themselves on the local network, it may be because of a local network issue in the multicast. To circumvent this, the computers exchange local IPs i

[2019-11-21 23:15] schollz commented on #168
Sorry for the complicated explanation. Maybe not even the right explanation. Please try the latest master (let me know if you need a build and I can supply that) and let me know if it works. Else I'll keep digging.

[2019-11-22 06:53] kazie commented on #168
Ok, so running:
[code]

I let it run for a while (40+ minutes?),i seeing lots of pinging still going on in the debug logs.
And no one can connect to it, not same host, not someone else on the same network or not even from a completely different network in another country.

Completely other network and country trying to connect:
![2019-11-22-074519_1365x373_scrot](https://user-images.githubusercont

[2019-11-22 13:54] schollz commented on #168
Your recipient could never establish connection to the public relay. I don't know why. Maybe the relay was down during this time? Can you try again? I can't reproduce this problem.

[2019-11-22 21:00] schollz commented on #147
This snap has been requested (it requires classic confinement): https://forum.snapcraft.io/t/request-for-classic-confinement-of-croc/14284

[2019-11-24 13:36] kazie commented on #168
Yeah, I tested it now, and since the server was working this time, I had no problems.

So I am closing this ticket and considering it all good!

[2019-11-24 13:36] #168 closed

[2019-11-26 09:21] EdisonJwa opened #181 "*"
*

[2019-11-26 10:58] #181 closed

[2019-11-26 12:37] ferebee opened #182 "install fails on macOS fresh install"
Automated install fails on fresh macOS install (10.14.6) because the directory /usr/local/bin is not created by default during macOS installation.

[code]

[2019-11-26 14:57] schollz commented on #182
I can't help because I don't have a mac

[2019-11-26 17:01] Fastidious commented on #182
@ferebee I checked the install, and `/usr/localbin/` must exist for a successful install. Simply create the directory and try again.

[2019-11-26 17:15] Fastidious commented on #182
@schollz checking if the directory exists and, if not, creating it would solve this. It does exists on Linux as default, but not on macOS.

[2019-11-26 17:17] schollz commented on #182
@Fastidious But, is `/usr/local/bin` a default PATH for macOS? If not, it might be better to use a different directory (that may already exist) which is part of the default PATH.

[2019-11-26 17:29] Fastidious commented on #182
@schollz yes, it is a default path.

[2019-11-26 17:46] schollz commented on #182
@TheQueasle what do you think of changing the [install script](https://github.com/schollz/croc/blob/master/src/install/default.txt) so that it will make the install directory, if it doesn't exist? I don't mean to assign to you. But I would welcome any thoughts (or PR if you're so inclined) that you have, if you can spare the time!

[2019-11-26 17:51] TheQueasle commented on #182
@schollz I have no strong feelings against it.

I should be able to get a PR in within the next day or so (or sooner).

Oh, and feel free to ~throw me under the bus~ assign/include me in issues with the installer.  I don't mind putting my time into it :smile:

[2019-11-26 17:58] schollz commented on #182
@TheQueasle haha okay. I'd love if you can send a PR. That script is a beautiful well-thought out piece of a code and I don't want to trip it out with my hacks.

[2019-11-26 18:19] ferebee commented on #182
Everybody is exactly right about this! Sadly my skills don’t extend beyond pointing out the issue. Thanks, all.

[2019-11-26 19:53] TheQueasle commented on #182
Hit this sooner than I thought I could :tada:

(It gave me a reason to procrastinate on doing my budget... :rofl: )

[2019-11-26 20:36] schollz commented on #182
Thanks @TheQueasle. Glad to serve you a break from your budgeting :)

@ferebee can you try it now? You can use the PR version this way:

[code]

[2019-11-26 20:47] ferebee commented on #182
I can confirm that this works correctly on macOS 10.14.6 with or without an existing `/usr/local/bin` directory. Thanks, guys, amazing turnaround. Glad I bought that $100K support contract.

@schollz BTW thanks for the pointer, I was wondering about that, but it turns out you need to do

[code]

to get the raw .txt.

[2019-11-26 20:51] schollz commented on #182
👍 Thanks :)

[2019-11-26 20:51] #182 closed

[2019-11-26 21:38] TheQueasle opened #184 "Allow for the install script to handle 'userspace' installs (no `root` level permissions needed)"
### Problem
An end user of `croc` should not need `sudo` to install croc into paths they have write access to (ie: userspace)

### Possible Solution
Allow the script to determine if the current user has the needed permissions to the requested install prefix to allow installation.

### Alternatives
Documentation on how to do it without the need to write script logic.  For example: Download a releas

[2019-12-14 23:18] hackervera opened #186 "parallel downloads"
can it do parallel downloads?

[2019-12-15 19:16] schollz commented on #186
Yes it does by default

[2019-12-16 17:10] maximbaz commented on #172
looks like this broke @schollz, there is no `_src` archive attached to `6.4.7` release, would you have a chance to take a look?

[2019-12-16 17:14] schollz commented on #172
@maximbaz Sorry, added!

[2019-12-16 17:15] maximbaz commented on #172
Thanks! Did you need to do this manually? If hooks don't work as expected we can try to find some other way, to make it simpler for you!

[2019-12-16 17:54] #186 closed

[2019-12-18 16:55] schollz commented on #147
https://snapcraft.io/croc

[2019-12-18 16:55] #147 closed

[2019-12-20 02:47] Fastidious opened #187 "Question: Sending files with ZeroTier"
I have several machines connected through [ZeroTier](https://www.zerotier.com). How does croc handles this? Will transfers still go through the external—default—relay or, as ZeroTier machines can see each other as if they were in a local network, will they go machine to machine?

[2020-01-04 17:10] TheQueasle commented on #184
I'm thinking I can forgo the permissions check if a user specifies `--user` during install and just attempt the install without any elevated permissions into the default prefix OR user specified prefix for a 'user' install.

I'm doing some research currently about what a 'standard' location may be for this type of install and, as I think we found before, it's really all over the place for installs

[2020-01-06 06:15] mmurtaznaqvi opened #188 "Transfering file to Multiple Users"
Does croc supports transferring of files to multiple users??. I tried but was not successful. Does this functionality can be implemented in near future.

[2020-01-06 18:57] sammoth opened #189 "--yes option doesn't skip 'did you mean to send' prompt"
I would expect when sending something with croc, using the --yes option would skip the 'did you mean to send? prompt, but it doesn't seem to. As far as I can see there is no way to skip that prompt unless I'm missing something.

[2020-01-06 19:05] schollz commented on #189
What command did you use to send?

[2020-01-06 20:57] sammoth commented on #189
Ahh I was using just `croc file.xxx` not `croc send file.xxx`. I am stupid; apologies!

[2020-01-06 20:57] #189 closed

[2020-01-06 21:51] chintan9 commented on #96
I could not find how to use this software with gui for current version.

[2020-01-09 00:15] schollz commented on #184
@TheQueasle I think that sounds like a good solution. I like `${HOME}/usr/local/bin` because its more natural cousing to the `/usr/local/bin`.

[2020-01-12 15:44] Jakethethird opened #190 "snap installed croc can't access file in home directory - permission denied"
**Describe the bug**
Croc installed on Ubuntu 19.10 via sudo snap install croc or via software centre cannot access files in home directory

**To Reproduce**
Steps to reproduce the behavior:

[code]

Neither cli nor store provide option to change permissions:
http://www.linuxandubuntu.com/home/snap-application-permissions

[code]

![20200112_SelectionNN](https://user-images.githubusercontent.com/2

[2020-01-12 17:59] rubiojr opened #191 "Piping to stdout question"
Croc version: 6.4.8

:wave: I'm just trying to understand the design decision behind the `--stdout` behavior.

It seems that when using `--stdout` the data is written to disk first inside the current dir, then read and written to `stdout` when the transfer finishes. The temp copy is removed after that. Is that correct?

I was trying to pipe a large video to mplayer/mpv (`croc --stdout --yes <code>

[2020-01-13 06:41] #156 closed

[2020-01-13 16:55] Wouter0100 commented on #191
This seems to be the case according to the [code](https://github.com/schollz/croc/blob/3c0371986315b915bc2f0b9ea0c3e20c07acccb4/src/croc/croc.go#L1119-L1135).

[2020-01-13 17:52] schollz commented on #191
@rubiojr Yep, that's right. This is because when the multiplexing is used to transfer data, so the data are sent as individually compressed/encrypted "blocks" which may be out of order. When they are received they are written at the position specified.

It's already possible to turn off the multiplexing, and it wouldn't be hard to allow the file to be written in order (so you could skip the file c

[2020-01-13 19:28] rubiojr commented on #191
Ah I see. Thanks, that helps!

[2020-01-13 19:32] #191 closed

[2020-01-15 12:35] ferebee opened #192 "Want: fallback to relay if connection fails on LAN"
I haven’t looked at the code, I hope I’m not misdiagnosing.

Setup: I’m working on a client’s machine, which is connected to my LAN over Wi-Fi with a guest SSID that is firewalled from other LAN devices. I want to send a file with croc from one of my own machines to the machine on the guest Wi-Fi.

Observed behavior: receive fails with
`connecting...could not connect to 192.168.XX.YYY:9009 dial tc

[2020-01-15 15:59] schollz commented on #192
Could you run both using `--debug` and share the output? I think this should be happening, but I've not tested this exact case.

[2020-01-15 16:05] schollz commented on #188
No, I think this is out of the scope of croc.

[2020-01-15 16:15] schollz commented on #190
Thanks. I forgot to add plugs. They are there now, hopefully.

[2020-01-15 17:07] Jakethethird commented on #190
Hello,
Now it runs but I get the following error. Is this OK?

[code]

I turned off my laptop firewall (gufw)

[code]

[2020-01-15 17:51] schollz commented on #190
Yeah, I realized it needed network access too, it should be [fixed now](https://github.com/schollz/croc/commit/073569f29256cd9e691ca50ac52bf481015adbe6)

[2020-01-15 18:01] Jakethethird commented on #190
OK, here is a test file for you to download from my refreshed snap install:

`croc acid-food-finish`

If it works, we can close this issue. I'll leave it open for a short while.

jake

[2020-01-15 18:11] schollz commented on #190
@Jakethethird Sorry, I'm not going to download a file from you - just test between two computers you have access to.

[2020-01-15 18:14] Jakethethird commented on #190
OK, I confirm it works on the same LAN but can't test it from a remote PC. I'll close the file share.
Thanks.

[2020-01-16 04:47] #188 closed

[2020-01-18 01:21] jtagcat opened #193 "When recipent types a spaces instead of hyphens, understand it."
**Describe the solution you'd like**
A clear and concise description of what you want to happen.
For example if I type `croc social stock canada`, it should be interpreted as `croc social-stock-canada`

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.
Write all words without any separator. Maybe even accept dots

[2020-01-20 17:07] jtagcat opened #194 "After a large transfer, croc freezes."
**Describe the bug**
After file transfer, a checkmark gets displayed next to the item (if multiple files, then all files get a checkmark).
A newline gets spit out and then everything just freezes. Debug log says 'closing file'. Is it checksumming or something?

**Version**
Sender: `croc version v6.4.10-073569f` Proxmox 6.1-3
Recipient: `croc version v6.4.10-073569f` Windows Server 2019 Standard 18

[2020-01-21 10:44] KoEnix commented on #187
When inspecting croc in the ressourcemanager in windows, it seems to use the default relay as connection point to transfer data, even with two local machines in the same network sending and receiving.

For handling secure file transfer via croc in your virtual ZeroTier network, it would be best to host your own croc relay server. More infos on how to do this you can read in the Readme of croc

[2020-01-21 17:09] Fastidious commented on #187
@KoEnix it seems I have found a bug then. It is my understanding that machines within the same network shouldn't be using the external (default) relay. What say you, @schollz?

[2020-01-21 17:10] Fastidious commented on #187
@KoEnix I ran a croc relay for a long time. Just not using croc that often to merit having one running. Thanks, though!

[2020-01-21 18:01] schollz commented on #194
Does this happen every time?

[2020-01-21 18:17] schollz commented on #193
This is very easy to implement. I would happily accept a PR for this

[2020-01-22 01:27] jtagcat commented on #194
With multiple different files, tried over 5 times yesterday.

[2020-01-22 19:17] lpar opened #195 "Output doesn't fit into terminal width"
**Describe the bug**
During a transfer, the progress bars scroll the terminal every time they print. I get a progress bar, then a blank line, then the next printing of the progress bar, and so on.

**To Reproduce**
Initiate a transfer in an 80 column terminal.

**Expected behavior**
I expected the progress bar to be sized or the filenames truncated so that the output would fit without scrolling, o

[2020-01-22 20:27] schollz commented on #195
This is expected behavior - the output requires columns equal to the length of the longest filename plus the length of the progressbar. Thus, if you run and one of your filenames is super long, it will probably cause scrolling. This behavior is because I wanted to prioritize showing filenames over keeping inside the columns of the terminal.

[2020-01-22 20:57] lpar commented on #195
OK. It just wasn't what I expected :-)

[2020-01-29 01:11] #195 closed

[2020-01-31 19:12] lpar commented on #192
I've seen this behavior too, when my Linux machine's firewalld blocks incoming connections. If I tell firewalld to open ports from 9009-9013 the transfer works.

[2020-01-31 19:33] lpar opened #196 "Croc fails if either machine lacks an IPv4 address"
**Please try to [download the latest version](https://github.com/schollz/croc/releases/latest) of croc before reporting a bug!**

**Describe the bug**
I just tried croc between two machines on the same local network, both of which have routable public IPv6 addresses, but one of which has no IPv4 connection.

Initiating a transfer from the IPv6-only machine, the receiver fails with "unexpected end

[2020-02-05 02:53] lrq3000 opened #197 "Why is the GUI builds not released anymore?"
I saw that before there was a GUI build, which was very useful for non-technical users. Indeed, although the command-line interface does not change much for the receiver (it's still just about running the app and typing the passphrase), for the sender it's a lot more complicated.

Is the GUI planned to return at some point?

[2020-02-12 17:01] unixfox commented on #196
I've the same exact issue.

[2020-02-12 20:26] schollz commented on #196
@unixfox @lpar  Thanks for this issue. I would love to fix it, but I don't know how to make a test environment to play around with sending with ipv6 addresses. Any ideas?

[2020-02-12 21:20] unixfox commented on #196
## If you want to have an IPv6 only environment

If you have IPv6 connectivity at home ([IPv6 test](https://ipv6-test.com/)) you can spin up a Debian VM with a bridge connection in VirtualBox so that the VM gets an IPv6 address. Then disable IPv4 completely: https://serverfault.com/a/269611 (a reboot is probably required).
If you don't have IPv6 connectivity at home then search for a VPS provider

[2020-02-12 21:36] schollz commented on #196
@unixfox That's a nice tutorial, thanks!

Is there any way of doing it within Docker? I'd rather not re-configure any of my working systems and it would be easiest since anyone can spin up the Docker and test.

[2020-02-12 22:26] unixfox commented on #196
Sure that's possible. I would be able to make a custom docker image for you.
Do you have IPv6 at home? Test it on [ipv6-test.com](https://ipv6-test.com/).
Which type of environment do you want? An IPv6 only environment (where you don't have IPv4 connectivity) (an environment similar to what I've and @lpar has) or an IPv6 + IPv4 environment?

[2020-02-12 22:32] schollz commented on #196
It would be awesome if it was extensible from the `golang` image. E.g.:

[code]

And another to receive:

[code]

Ideally both would have IPV6 configurations so I can see if they will work or not within those environments.

[2020-02-12 22:51] unixfox commented on #196
Ok I'll look into that this weekend. By the way is [ipv6-test.com](https://ipv6-test.com/) telling you that you have IPv6 connectivity on your computer?

[2020-02-13 04:03] rkuprov commented on #193
Not sure if I understand the goal of this change. It seems a bit restrictive; too smart.

If I have a folder named `social stock canada`, I'd rather just use `TAB` to fill in the escaped characters.
If my folder uses underscores for names, `social_stock_canada`, then do we want `social stock canada` to be understood as `social_stock_canada` as well?

Finally, sending multiple files goes like this

[2020-02-13 07:13] jtagcat commented on #193
If you want to send files you use `croc send file1.txt`, not `croc file1.txt`, thus it doesn't restrict your tab behavior.

Additionally, as a new issue, tab-completion for receiving should be possible (have all possible words and match against them), though implementation would be hard - a) have every possible combination and word as a command b) have those shell autocomplete things what you have

[2020-02-13 20:31] lpar commented on #196
On the Mac I just turned off IPv4 in the System Preferences to test. Network > Advanced > TCP/IP tab -> Configure IPv4: Off. No need to reboot, and you can switch it back on just as easily.

[2020-02-18 19:03] rkuprov commented on #193
Resolved by: https://github.com/schollz/croc/pull/198

[2020-02-18 19:25] #193 closed

[2020-02-25 19:23] sac001 opened #199 "Can't get socat/Tor connection working with croc on the receiving side"
While using a socat/Tor set-up described at torproject.org on a Linux machine, to receive a small file, croc erros out.

I am using the authors public relay for the test.

croc version v6.4.11-bc0841d

socat TCP4-LISTEN:5870,bind=127.0.0.1,fork SOCKS4A:localhost:142.93.XXX.XXX:9009,socksport=9050

croc --debug --relay localhost:5870 abcdef
[debug] 18:44:49 cli.go:123: debug mode on
[debug] 18:44:4

[2020-02-28 15:28] anotherwon opened #200 "Mitigating a malicious relay or an eavesdropping attacker"
**Please try to [download the latest version](https://github.com/schollz/croc/releases/latest) of croc before reporting a bug!**

**Describe the bug**
Communication with the relay is completly unencrypted which includes the codephrase.
A malicious relay or an active attacker eavesdropping can therefore receive the senders' files.

**To Reproduce**
Steps to reproduce the behavior:
1. ./croc send fi

[2020-02-28 16:01] schollz commented on #200
This is a bit inaccurate. Let me try to explain things to clarify.

The "codephrase" is not really a code phrase in the sense it is used to encrypt the message. The codephrase is only used to navigate both users to the same place on the public relay. When both users enter the public relay (using the codephrase) they do PAKE. PAKE enables both users to generate a secure password that encrypts ALL f

[2020-02-28 18:31] anotherwon commented on #200
Agreed, I have been a bit inaccurate. However, so are you. ;)

The unencrypted information exchanged with the relay are at least:
* password for the relay
* ports of the relay
* IP and port as seen from the relay
* codephrase
* IP and port of the sender as seen from the sender (whether or not it makes sense to publish non-public IP addresses and the privacy implications thereof is another discussi

[2020-02-28 19:31] schollz commented on #200
Okay, I'm on the same page now.

I think you have a good idea here:

I'm not sure I fully understand this, can you elaborate? I'd really like a way to do this better, that is also more easy and convenient than checking the 32 characters from the `--ask` flag. But I'm not sure any authentication mechanism would allow you to know verify the identities of both parties without having both parties to c

[2020-02-28 20:04] schollz commented on #200
Okay, all the communication between the relay and the user is can also encrypted using PAKE: https://github.com/schollz/croc/commit/d5846bc88da84d655c4b937db47ca103cc87d81a

[2020-02-28 21:03] schollz commented on #200
External IP now is transmitted in an encrypted way between clients: https://github.com/schollz/croc/commit/5fce2a2e27768ac2a70c37b5fa00e6496b051876

[2020-03-06 03:18] anotherwon commented on #200
example: copy-lexicon-project-perform-delete-joker

To the relay both sender and receiver only transmit **copy-lexicon-project**.
Once an encrypted channel is established between sender and receiver, the receiver asks for the full codephrase **copy-lexicon-project-perform-delete-joker**.

That way the relay doesn't get to know the secret but only the discovery part.

E.g. Firefox Send does this wi

[2020-03-06 15:13] schollz commented on #200
You're totally right, thats a good idea. I implemented it in https://github.com/schollz/croc/commit/8b6500adfd841ccf94bd914a384bfd9a966bec3e

Basically now only the first three characters establishes the channel. The rest is used with PAKE, so it is only successful if both parties have the full codephrase.

[2020-03-07 10:30] maximbaz opened #202 "`croc --version` reports wrong version when compiled from `_src.tar.gz`"
FYI, I'm building `croc` from `_src.tar.gz` for Arch Linux users, and I noticed that `croc --version` reports wrong version.

`8.0.1` archive reports `croc version v8.0.0-0c305fe`
`8.0.2` archive reports `croc version v8.0.1-2d6206b`

I think it happens because you tagged commits before the version bump:

![image](https://user-images.githubusercontent.com/1177900/76141678-d97d0000-6066-11ea-9e5b-7

[2020-03-10 14:16] lhcamilo opened #203 "Croc does freezes near the end of the transfer"
**Describe the bug**

The transfer freezes near the end. At about 80-98%

**To Reproduce**
Send a file. In this case I am sending a 50MB log file across my local lan

**Expected behavior**

I would expect it to finish the transfer

**Version**

 v8.0.1-074a869

**Additional context**

Additionally, the "curl https://getcroc.schollz.com | bash" command, (that I use to update croc), does not seem to

[2020-03-10 14:44] schollz commented on #203
Thanks. DO restarted my droplet so the `https://getcroc.schollz.com` should be back up.

Can you try with the latest version?

If it is reproducible, can you add `--debug` and share the output?

[2020-03-11 11:27] lhcamilo commented on #203
The curl command seems to work now. I have updated croc to the latest version.

It seems that the update has solved whatever issue was there.

[2020-03-11 11:27] #203 closed

[2020-03-17 18:36] muhazzz opened #204 "Copy mongodb files with "croc *""
croc version v8.0.3-03fe1c7

Trying to copy mongodb files from one host to another with "croc *". Some files copied, but then get errors:
[code]

[2020-03-18 03:09] schollz commented on #204
Thanks. The source of this bug is not obvious to me, but I pushed a change that might fix it. Are you seeing this repeatedly?

[2020-03-23 16:57] #204 closed

[2020-03-24 20:03] maximbaz opened #205 "Memory leak in relay"
I'm running a relay and I noticed that it consumes huge amount of RAM:

![image](https://user-images.githubusercontent.com/1177900/77471140-13455900-6e12-11ea-942a-ae70e3b471af.png)

In fact I haven't even used croc in a few days.

It runs in `docker-compose` as so:

[code]

in `docker-compose logs` I see a ton of either port scans or failed attempts to use my relay (I assume failed, because they

[2020-03-24 22:29] schollz commented on #205
I suppose it could be due to connections that fail. I will look into it.

I'll see if I can reproduce this too. Interestingly I'm also running the main relay in docker and I'm seeing very little memory usage despite transferring over 500GB:

[code]

[2020-03-25 09:20] maximbaz commented on #205
12 hours later after restart, I haven't used my croc relay, and it grew to 1G of RAM:

![image](https://user-images.githubusercontent.com/1177900/77520825-11b37980-6e82-11ea-9521-37ddf09c3ca1.png)

[code]

I made sure to pull latest image before the restart yesterday, just in case.

[2020-03-27 03:10] changwuf31 opened #206 "Unexpected end of JSON Input"
**Please try to [download the latest version](https://github.com/schollz/croc/releases/latest) of croc before reporting a bug!**

**Describe the bug**
Unable to receive file if the client is not using the same version as server

**To Reproduce**
Steps to reproduce the behavior:
1. Use croc v8.0.1 and send a file
2. Use croc v8.0.4 and recevie the file
3. Got error

**Expected behavior**
Able to re

[2020-03-27 14:13] schollz commented on #206
The authentication is improved now in https://github.com/schollz/croc/releases/tag/v8.0.2, so your server needs to be at least 8.0.2.

[2020-03-27 14:58] bcag2 opened #207 "add --code in croc help"
If I run `croc help`, there is nothing about `--code` option you explain at https://github.com/schollz/croc#custom-code-phrase

**Version**
with croc version v8.0.4-7a605dd (fresh snap install under ubuntu)

[2020-03-27 14:59] schollz commented on #205
What happens if you don't use docker? You can just grab the latest release and run it as a relay. I'm using Docker too, but I don't use docker-compose and would like to eliminate that as a potential problem.

[2020-03-27 15:01] schollz commented on #207
Since the argument is only for `send` it appears under send: `croc send --help`.

I realize this is confusing because of the subcommand, maybe all the argumnets should be under the main command, and no sub commands?

[2020-03-27 16:15] maximbaz commented on #205
I've ran the relay directly from the binary, and to simulate the idea of port scanning, I ran the following command:

[code]

This has completely destroyed the relay, it used up all available RAM on my system in a matter of seconds and got killed.

Do you think this experiment helps going in the right direction?

I don't want to run this against your public relay, I leave this up to you 😄

[2020-03-27 16:18] schollz commented on #205
Lol that is perfect. I'll use your `nmap` command to diagnose :+1:

[2020-03-27 16:35] schollz commented on #205
Okay, based on the port scanning problem this is a fix: https://github.com/schollz/croc/commit/b60a841044f6ab81a7f95c8c6e9fdc75878e94f2#diff-c27706ced4c7f3ae58c1bef86fe74e21R99-R103

The comm I'm using asks the sender to declare how many bytes they are sending. Somehow the `nmap`  was declaring it wanted to send millions of bytes, causing the comm to allocate that every time. It was a memory explo

[2020-03-27 16:47] maximbaz commented on #205
I confirm that my example with nmap is indeed resolved indeed, thanks :)

To better understand your fix, you are asking the sender how many bytes they are planning to send and allocating that much memory, is there a chance that the memory will not be deallocated? Maybe if the sender silently disappears, or stops sending mid-way? I'm still thinking how to explain the high memory usage I saw in real

[2020-03-27 16:50] maximbaz commented on #205
Do you also limit the number of active senders? With the current limit of 1000000 bytes, is it possible that someone will issue a 10000 parallel sending requests that will again allocate 10GB? If so, can we protect against this somehow?

[2020-03-27 16:51] schollz commented on #205
@maximbaz Yeah, I can't really explain that. The memory is allocated until disconnection or until all of the bytes are read from the connection. Maybe its possible that whatever connected didn't disconnect?

[2020-03-27 16:52] schollz commented on #205
Yeah, I think a relay should be rate-limited to prevent this.

[2020-03-27 16:52] maximbaz commented on #205
I can imagine this happening... Maybe we can add something simpler, a ticker that will kill the connection if the sender didnt send any bytes for the last N seconds?

[2020-03-27 16:57] schollz commented on #205
This is a good idea. The underlying tcp connection has a read deadline. Right now I have a deadline of 3 hours because some people like to send a file and then the receive may wait hours before receiving. However, since there are two steps to the comm (read the header, then read the specified bytes) I can add two deadlines - a long one to read the header and then a short one to read the specified

[2020-03-28 06:36] bcag2 commented on #207
ok, the first tool which could work like that: git
_git help_ return sub-command and _git sub-command --help_ return sub-command help
thank for this nice tool

[2020-03-28 08:33] changwuf31 commented on #206
Great, issue solved by upgrading to 8.0.2
Thank you for the great tool

    Pada Jumat, 27 Maret 2020 21.13.17 GMT+7, Zack <notifications@github.com> menulis:

The authentication is improved now in https://github.com/schollz/croc/releases/tag/v8.0.2, so your server needs to be at least 8.0.2.

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub

[2020-03-29 19:51] #206 closed

[2020-03-30 11:00] RoseTheFlower commented on #206
Using 8.0.4 on both ends, I'm getting the same issue on the client side on Windows.

[2020-04-01 02:00] DurandA commented on #200
Hi and thanks for the interesting discussion. I arrived here because I wanted to know how the relay channel was derived from the codephrase.

I was expecting a hash of the codephrase to be used as a channel identifier in the first place. Did you consider it? If yes, why did you discard it?

[2020-04-01 03:37] schollz commented on #200
@DurandA Using a hash of the codephrase as a channel identifier would also work. In fact it might be just slightly better because its even harder to figure out the code phrase than giving it the first three letters. Everything else should be just about the same though.

[2020-04-01 04:42] DurandA commented on #200
After some more thoughts, I think your solution is better. The default keyspace from `mnemonicode` is only 32 bits if I am not mistaken:
https://github.com/schollz/croc/blob/386f4ff958015079ff189ef15d0494b383936294/src/utils/utils.go#L129-L131

It would not be too hard for a motivated attacker to brute-force/build a rainbow table for the whole keyspace. With your solution, the PAKE has only 1 chan

[2020-04-04 22:25] lord-re opened #208 "Add an option to send multiple times the same files"
Sometimes i want to share a file to everybody (yes even you), so i'd like **being able to launch "croc send /the/file" and having the file being shared multiple times**
That way it could act as a small file server.

**Add an option to croc send to put croc in a server mode to serve multiple times the file.**

**I use a while loop to approach this behavior except it can't share the file more than o

[2020-04-09 14:28] unixfox commented on #196
Sorry for the long waiting time @schollz. I'm not able to make a Dockerfile for testing in a IPv6 only environment because it's too complicated for me due to the fact that Docker wasn't designed with IPv6 in mind (the IPv6 support on Docker came later on).

But if you would like to replicate an IPv6 only environment, like @lpar said you just have to disable IPv4 in your system preferences. This me

[2020-04-09 14:37] #207 closed

[2020-04-09 14:41] #205 closed

[2020-04-09 14:42] schollz commented on #200
@DurandA Okay, if you find anything else let me know!

[2020-04-09 14:42] #200 closed

[2020-04-09 14:43] schollz commented on #199
Can you try with the latest version?

[2020-04-09 14:44] schollz commented on #197
Yeah I'm looking at doing a Gui again...

[2020-04-09 14:46] schollz commented on #208
The poorman's solution should serve you well. Unfortunately to add this into croc it would require some re-write because only two parties are able to exchange at a time. I'll leave it open though if I get an idea of how to do it.

[2020-04-09 15:33] maximbaz commented on #205
Thanks @schollz! FYI I've been running my relay on 8.0.5 for a short while, my log is full of "too many bytes" and "connection reset by peer", but memory usage is 21MB! I consider this a success 😄

By the way, maybe don't log an "error" in comm.go ( [here](https://github.com/schollz/croc/blob/9bf470ef29605ed4ae6313710cfd8b4ec1c61c02/src/comm/comm.go#L104) ), as it's being logged as warning later a

[2020-04-09 16:13] schollz commented on #205
Great! Yeah those can both be debugs. I'll fix those

[2020-04-09 20:15] sac001 commented on #199
Appologies, I currently have no spare VPS to install croc again. I may do however soon a test with your public server and report back here, once time permits.

[2020-04-09 20:27] schollz commented on #196
@unixfox Same! I don't have IPv6 at home/work but I just realized I could spin a DigitalOcean droplet to do it...  Do you know how to force IPv6 on Linux?

[2020-04-09 21:03] unixfox commented on #196
There is a tutorial about disabling IPv4 on a Digitalocean droplet: https://www.digitalocean.com/docs/networking/ipv6/how-to/disable-ipv4/. But by doing this you will lose SSH connectivity to the droplet.
A way to workaround is to use the console or launching another droplet that will be used a bridge to the droplet with only an IPv6 connectivity.

[2020-04-09 21:57] maximbaz commented on #202
Seems like this hasn't been an issue in the past few releases, do you want to close this, or do you want to use this as an opportunity to try to rethink how to handle versioning differently? One idea can be that a version is never committed by you manually, but your CI generates it, e.g. in code you have version string set as `development`, but CI would `sed` it to an actual value. Let me know if

[2020-04-09 22:03] schollz commented on #202
@maximbaz I love the idea of the CI generating it, I can leave this open for figuring that out.

For the record, this is what I'm doing now to create a release. Pushing after tagging seems to fix this particular issue.

[code]

I think `goreleaser` now accepts any uploads for Github so when I have time one day I'll look into automating that. I be there's a way to make Travis.CI toggle goreleaser,

[2020-04-10 14:13] lpar commented on #196
If you have two machines on the same network at home, setting up IPv6 on your home network is probably the easiest option. It should just require turning it on in preferences, stateless autoconfig will do the rest.

You might also find that you have IPv6 (can ping 192.88.99.1) and your ISP just hasn't told you how to set it up. (That was the case for me [back in 2009](http://lpar.ath0.com/2009/01/

[2020-04-10 17:57] makeworld-the-better-one commented on #197
That would be great to see! It would make things a lot easier for users, and I'd be able to easily direct this application to friends as a way to transfer files.

[2020-04-17 10:56] tomamplius commented on #206
Same issue in v8.0.7-e56e652 in the both side server / client

[2020-04-20 09:23] camjac251 commented on #197
I was thinking of something that would be nice to have inside of croc. Although this would primarily be for windows users.

I was thinking if there was a right click context menu option for sending and receiving to/from the folder or multiple selected files. So if you need to send FileA File39 and File#21, then it would be as simple as selecting just those files, right click, send with croc, then

[2020-04-20 12:02] camjac251 opened #211 "Relay not working"
I am trying to get the relay working but haven't had any luck. First was disabling ipv6 as it would only bind to ipv6 or ipv4 but not both. I disabled ipv6 systemwide and its now binding to ipv4.

I enabled the debug for the relay but don't know what to make of the output
Before making this issue, B > A would fail but then it worked for 1 transfer, I then tried A > B and that failed with an EOF er

[2020-04-20 12:39] camjac251 commented on #197
I thought I'd try the idea myself. There might be a bug here or two with it but I'll definitely be using it over using cmd. This would add two context menu items `croc > send` and `croc > receive`. What I like about this is you can select any files or folders in File Explorer, right click and send them all really easily.

For this I wasn't able to do it natively just yet in Windows so you'd need a

[2020-04-20 14:02] schollz commented on #211
What are the versions of the client and the relay?

What is the output of the clients with `--debug`?

[2020-04-20 14:05] camjac251 commented on #211
All versions are v8.0.7-e56e652
Do you want me to run the debug with a transfer?

[2020-04-20 16:03] schollz commented on #211
Yes

[2020-04-20 16:20] camjac251 commented on #211
I can run it again and give the full config but this is a quick context of all 3 debugs. Relay is on a linux server, Computer A is Windows 10 sending to Computer B also Windows 10
Also if you have a way to contact you, I can send the full logs without edits

First is Relay
[code]

Then Computer A
[code]
And B
[code]

[2020-04-20 19:31] schollz commented on #211
Okay, I think this is the problem:

[code]

For some reason the read is timing out. I'm not sure what the default timeout is, but maybe it was shorter for Windows because I found I could replicate this error hosting  a relay on Windows.

I pushed this fix: https://github.com/schollz/croc/commit/3ed036b51db13c00f90cdef1f2f74e3c02359dc2

 which might fix it. Give it a try and let me know.

[2020-04-20 19:57] camjac251 commented on #211
I don't think it worked for me. I generated a new build for windows and linux from my linux machine correctly I think

[code]

[code]

Could it be the relay since the default works just fine. I noticed that the default is setup in DigitalOcean's NY datacenter. Do you use a systemd script? Is `CapabilityBoundingSet=CAP_NET_BIND_SERVICE` apart of it?

[2020-04-20 20:10] schollz commented on #211
Can you try it without the systemd? I don't use systemd so I can't help with troubleshooting that if that is or is not the case...

[2020-04-20 20:11] camjac251 commented on #211
That was without systemd. I was running normally as a user.

[2020-04-20 20:13] camjac251 commented on #211
Is it possible to replicate your setup for running the relay? If not using systemd, upstart, an init.d script?

[2020-04-20 20:39] schollz commented on #211
I'm just running it with `./croc relay`. Can you send me the full log files? Email to zack.scholl at gmail dot com

[2020-04-20 22:37] schollz commented on #211
Also what is your Go version? And can you double check that you have the latest commit (use git log to get the latest hash)?

[2020-04-22 03:32] afontenot opened #212 "Sending a whole directory results in EOF error"
**Describe the bug**
When trying to send a folder between two computers on the same subnet, I get 2-3 different errors, seemingly at random. Here are two:

This one hangs up before the download even starts:

    [debug]	20:06:12 croc.go:551: got error receiving: EOF
    could not secure channel

On the sender end, my terminal gets spammed with hundreds of thousands of the following line until I ct

[2020-04-22 04:50] schollz commented on #212
This is strange. Thanks for the logs, I don't see any red flags. I wish I could replicate your system. Would you be interested in bisecting between the latest master and v8.0.0 to see if it's a new issue? There have been a few more reports of issues than usual lately and I'm not personally seeing any problems (I use croc several times a day, everyday). Bisecting might reveal somethinf

[2020-04-22 07:14] afontenot commented on #212
I bisected it as far as the individual releases, just downloading the binaries. Looks like it starts with 8.0.6, so most likely https://github.com/schollz/croc/commit/9c0bc3efc334a439ff2c4a913849683dfab53ead is responsible. Probably that 10 second read deadline is getting triggered unexpectedly.

My impression is that how far I get into the download depends on how fast I can type the code on the o

[2020-04-22 13:27] schollz commented on #212
Okay I just pushed this: https://github.com/schollz/croc/commit/cb522f2f06ce1901f3d8392f96af649c2057fc84 which adds debugging statements to the comm. They should fire if it is a timeout problem. Could you try running with this version for everything?

[2020-04-23 00:20] afontenot commented on #212
Sure, I'll just need to figure out how to set up an environment on the macOS system. It's not my normal OS, and Go isn't my normal language, but I'll give it a try.

[2020-04-23 01:46] afontenot commented on #212
Okay, so this is weird. Latest git works fine. Maybe you fixed it in https://github.com/schollz/croc/commit/3ed036b51db13c00f90cdef1f2f74e3c02359dc2?

If that doesn't make clear what the problem is to you and you still want to know, I can apply your debugging changes on top of 8.0.7 and try again.

[2020-04-23 02:14] schollz commented on #212
THanks. Yeah someone else had a very similar problem to you and https://github.com/schollz/croc/commit/3ed036b51db13c00f90cdef1f2f74e3c02359dc2 fixed it too. I don't get why only a subset of people get this, but I'll push a new version with that so you don't need to install a Go ecosystem lol. Try it out, let me know if anything goes wrong

[2020-04-23 03:01] afontenot commented on #212
I think you'll find this interesting: that change actually *does not* fix the problem. I cherry picked every change except https://github.com/schollz/croc/commit/97f7f28f6e5fcfa26fbcabc8af4ffd500c3cd2bd and *that* is the one that solves it for me.

Here's the resulting log on the sender side, which is always the one to hang up:

[code]

[2020-04-23 03:11] schollz commented on #212
Lol wow. That is weird.

Perhaps it was a change in the golang.org/x/sys, maybe this: https://github.com/golang/sys/commit/1957bb5e6d1f523308b49060df02171d06ddfc77 which fixed it for you? This is getting pretty deep

[2020-04-23 03:19] afontenot commented on #212
I'm going to try a few more things, it's possible I made a mistake...

[2020-04-24 13:41] dasnolojy opened #213 "Error: unexpected end of JSON"
Trying to transfer file on a LAN. Both wondows 10 machines with 8.0.7 version launched. File about 300 Mb.

[debug] 17:35:58 cli.go:123: debug mode on
[debug] 17:35:58 croc.go:149: options: {IsSender:false SharedSecret:split-spray-mambo Debug:true RelayAddress:142.93.177.120:9009 RelayPorts:[] RelayPassword:pass123 Stdout:false NoPrompt:false NoMultiplexing:false DisableLocal:false Ask:false}
conn

[2020-04-24 15:24] schollz commented on #213
Can you try the latest version? I just pushed one with some fixes for others

[2020-04-24 15:26] schollz commented on #212
I really don't know...the default timeout maybe is different for different operating systems? Its very strange.

I pushed a new version, let me know if everything is working again or not

[2020-04-24 16:00] dasnolojy commented on #213
Thank you for the fastest fix in my life ,)

[2020-04-24 16:00] #213 closed

[2020-04-30 06:06] dnlbrg opened #214 "Did you mean to send ... ?(y/n) - "No" is not handled correctly"
croc still tries to establish a connection.
an os.Exit(1) before the return on line 100 cli.go does the job for me.

[2020-04-30 16:34] schollz commented on #214
Can you detail the scenario that this is problematic?

My reasoning for the current logic is this: You send a file with `croc send somefile`. Sometimes people forget to write "send" and they write `croc somefile`. Those people would answer "y". Sometimes, also, people use a custom codephrase with the name of the file like, `croc send --code somefile somefile`. In this case the recipient might also

[2020-04-30 16:57] dnlbrg commented on #214
Ah okay, I see. I forgot it too.  My fault 🙈 so you can close the "issue".
Sorry!

Great job btw

Zack <notifications@github.com> schrieb am Do., 30. Apr. 2020, 18:35:

[2020-04-30 16:59] schollz commented on #214
Thanks, please don't hesitate to let me know if you find any other issues or have questions.

[2020-04-30 16:59] #214 closed

[2020-04-30 17:00] dnlbrg commented on #214
My intention was to end the program and not to continue receiving. But your
explanation makes sense.

Zack <notifications@github.com> schrieb am Do., 30. Apr. 2020, 18:35:

[2020-05-06 15:22] lpar commented on #196
Just found [an article on setting up two IPv6 containers in Docker](https://collabnix.com/enabling-ipv6-functionality-for-docker-and-docker-compose/) and ping6ing between them.

[2020-05-06 21:48] #212 closed

[2020-05-06 21:49] #211 closed

[2020-05-07 10:49] maxtar opened #215 "Incorrect status of recevied file"
**Describe the bug**
On received side status 99%.

**To Reproduce**
Steps to reproduce the behavior:
1. Run command `croc send <file_name>`. File size 70 Mb.
2. Start receives file on other side.
3. Wait while file received.
4. After done see the following status:
![изображение](https://user-images.githubusercontent.com/10290098/81286213-5decfe80-9069-11ea-9f37-1b6229c35c21.png)

**Expected behavi

[2020-05-07 15:01] schollz commented on #215
@maxtar That's strange..is it reproducible with other files?

[2020-05-08 16:11] maxtar commented on #215
@schollz I will try.

[2020-05-09 01:57] ElMostafaIdrassi opened #216 "Issues sending data over custom relay using a custom port"
**Describe the bug**
I have a croc relay setup on a random port, let's say 8000, on a machine running Ubuntu 18.04 Server.
I cannot send files via the relay from a client running on Window 10 to another client running on Ubuntu 18.04.

**To Reproduce**
Steps to reproduce the behavior:
1. Run the server using `croc --debug --pass "YOURPASSWORD" relay --ports 8000`
2. Send file from client 1 using `

[2020-05-09 17:39] rudluff commented on #190
I still get this in the 8.0.10 version (also installed via snap). Via some testing, croc specifically hates dotfiles, dot-directories, and non-dot-files that live in dot-directories. (Also, the debug flag either isn't working or needs an undisclosed parameter.)

[code]

[2020-05-12 12:45] schollz commented on #190
Ugh, its a snap issue. I added the `personal-files` plug, but I need to wait for them to approve:

[code]

[2020-05-12 12:53] schollz commented on #190
Snap form: https://forum.snapcraft.io/t/croc-needs-permission-for-dotfiles-in-home/17424

Revision (waiting for manual review): https://dashboard.snapcraft.io/snaps/croc/revisions/96/

[2020-05-12 12:59] schollz commented on #216
Thanks! This isn't documented well. You will actually need at least **2** ports for your relay to function.

Try this:

Relay:

[code]

Sender:

[code]

Receiver:

[code]

The first port (`8000`) handles connections of clients. The subsequent ports (`8001`) handles the data transfer. For *slightly* faster data transfer you can also include a few more subsequent ports. For instance `--ports 8000,80

[2020-05-12 13:01] #194 closed

[2020-05-12 18:08] pka opened #217 "Shell installer fails with 404"
[code]

Binary worked flawlessly. Thanks for this great tool!

[2020-05-12 18:37] schollz commented on #217
Should be up now. There was a problem with the last release because of snap (#190)

[2020-05-12 18:40] makeworld-the-better-one commented on #216
Could you add this to the README?

[2020-05-12 18:41] schollz commented on #216
@makeworld-the-better-one will do

[2020-05-12 18:43] makeworld-the-better-one commented on #196
Is there any fix for this yet? Most of Go should work with well IPv6 by default.

[2020-05-12 19:02] pka commented on #217
Yes, it's working now, thanks!

[2020-05-12 19:02] #217 closed

[2020-05-12 19:04] schollz commented on #216
Done! https://github.com/schollz/croc/commit/91468709aa8aab7ba3f970b58331ab634e5d8503

[2020-05-12 19:21] makeworld-the-better-one commented on #108
[webwormhole](https://github.com/saljam/webwormhole) is a similar project that does use webrtc.

[2020-05-12 22:27] ElMostafaIdrassi commented on #216
Thanks for the info and for updating the README. Closing the issue.

[2020-05-12 22:27] #216 closed

[2020-05-13 04:16] jtagcat commented on #194
@schollz was it solved somewhere or..?

[2020-05-14 15:05] schollz commented on #190
@rudluff Okay it turns out, as of now, there is really no way to let the snap installed version of croc access dot files. Each way of doing it presents more insurmountable problems.

Way 1: I could enable `personal-files` in the snap, but I'd have to specify each file individually and there is no way for me to know which files you'll send lol.

Way 2: I could do `classic` confinement but it won't

[2020-05-14 15:45] maxtar commented on #215
Hm, I've tried one more time. And it not reproduced. But First time was another server side with slow connection. I think may close now. I will reopen if repeated.

[2020-05-15 00:46] rudluff commented on #190
Damn, that's wild! Glad to know it's sandboxing run amok, I thought it was a base croc trait. I'll just go with the deb.

I worked around it by the stupid method of copying rclone.conf to my home directory, then croc'ing it. Only way I could think of to communicate this to end-users is some kind of an error message like "Croc is not allowed to interact with dotfiles or dotfolders when installed fr

[2020-05-18 10:20] misery opened #218 "Test fails on s390x"
**Describe the bug**
Tried to build a package for Alpine. It works without problems on my machine but it fails on s390x CI.
https://gitlab.alpinelinux.org/alpine/aports/-/merge_requests/7981

**To Reproduce**
Steps to reproduce the behavior:
1. Build croc for s390x
2. Run unit tests

**Expected behavior**
No failing tests. ;-)

**Version**
8.0.11

**Additional context**
https://gitlab.alpinelinux.

[2020-05-18 14:21] schollz commented on #218
@misery Okay, my bet is that it has something to the generation of a random file that was used for the tests. I generated a random file with seed 0 on my computer, which are the hashes I precomputed. Perhaps generating a random file from seed 0 is not the same for s390x? In any case, I changed the tests to work on a reproducible file filled with the same character. Can you try it now?

[2020-05-18 15:02] misery commented on #218
Thanks for fast reply. :-)

But it's still broken: https://gitlab.alpinelinux.org/misery/aports/-/jobs/118672

[2020-05-18 15:04] misery commented on #218
Well, I don't know s390x. :-) I just saw the failure in Alpines CI.

[2020-05-19 04:29] nbgibson opened #219 "Able to send files via private relay without using --pass flag"
**Describe the bug**
The --pass flag is not required to send files via private relay.

**To Reproduce**
Steps to reproduce the behavior:
1. Set up relay on remote server using the schollz/croc container
2. Start container with a given password assigned to CROC_PASS
3. Send file via croc using the --relay flag and no --pass flag
4. Target client executes the receive command and transfer begins

**E

[2020-05-19 09:01] lhcamilo opened #220 "getcroc.schollz.com seems to be down"
curl times out when  doing:

    curl https://getcroc.schollz.com | bash

Maybe the server needs to be restarted

[2020-05-19 13:31] schollz commented on #220
@lhcamilo thanks should be up now!

[2020-05-19 14:09] lhcamilo commented on #220
Hmmm, weird, curl still times out...
Maybe something may be wrong with openSSL?

[2020-05-19 14:18] schollz commented on #220
Sorry about that. That website is run along with dozens of other websites on one droplet. Right now its getting a ton of traffic for another website and seems to be pulling down everything else with it sometimes...I fixed it again (I think) but it should go back to normal soon

[2020-05-19 14:52] lhcamilo commented on #220
No worries, it seems to work now. :D

[2020-05-19 14:52] #220 closed

[2020-05-19 16:48] camjac251 opened #221 "checksum verification"
If I'm not mistaken, files are currently updated if the size or date changes? I've noticed sometimes when it hangs on a file and you interrupt the process to restart it, those files that are corrupt but same date/length are not retrieved again.

Are there plans for checksum comparisons of files?

[2020-05-20 19:24] misery commented on #218
Looks like mips64 is also broken.
https://build.alpinelinux.org/buildlogs//build-edge-mips64/testing/croc/croc-8.0.11-r0.log

Is it a flaky test or is the test environment broken?

[2020-05-21 15:43] lpar commented on #196
Turns out you can reproduce the problem without needing an IPv6-only network or Docker.

Make sure `/etc/hosts` has an entry for `localhost6` pointing at `::1`, then

[code]

and in another terminal window,

[code]

[2020-06-13 20:00] adworacz opened #222 "Sending files without using "send" command fails"
**Please try to [download the latest version](https://github.com/schollz/croc/releases/latest) of croc before reporting a bug!**
Using latest version on both machines: croc version v8.0.11-78b6437

**Describe the bug**
If you try sending a file like "croc testfile", and croc asks you if you want to send the file, the remote machine can't pick up the file.

However, using "croc send testfile" works

[2020-07-07 11:25] #215 closed

[2020-07-10 07:56] kazie commented on #222
I have done this by mistake on
[code]
Too!

[2020-07-12 15:49] Snawoot opened #223 "Panic"
**Describe the bug**

Got panic while sending 385 files (7.7 GB total):

[code]

**To Reproduce**
I don't know reliable way to reproduce this.

**Expected behavior**
No panics.

**Version**
`croc version v8.0.11-78b6437`

**Additional context**
Add any other context about the problem here.

[2020-07-13 15:10] schollz commented on #223
Do you know if any of these files were being written/opened during the transfer?

[2020-07-13 17:17] Snawoot commented on #223
It's possible some files were open for reading by bittorrent client.

[2020-07-13 17:50] schollz commented on #223
Multiple readers wouldn't be a problem I think. If any files get modified during the transfer this messes up everything because the client needs to know the size / etc. to tell the recipient how to allocate the file and check the hash.

That particular panic was planned: https://github.com/schollz/croc/blob/master/src/croc/croc.go#L1247, but I'm not sure why it was encountered. I've never encounte

[2020-07-15 16:35] schollz commented on #222
@kazie @adworacz I can't reproduce this on LAN or non-LAN.

[code]

[2020-07-15 17:06] jpds opened #224 "PAKE panic with IPv6 hosts"
**Describe the bug**

I have a private relay, which is listening on IPv6, and two clients connected to this relay via a private VPN.

**To Reproduce**

1. I run:

`./croc --relay [2a01:XXXX:YYYY:ZZZZ::6]:9009 send test`
`./croc --relay [2a01:XXXX:YYYY:ZZZZ::6]:9009 <code>`

2. Receive:

[code]

Important to note that the `9013` reported in the address is NOT what's set in the `XXXX` part of the ad

[2020-07-15 17:07] kazie commented on #222
That's interesting. I did a test again and it works on the same machine, but not on two different ones.
[code]

When the other machine is running and failing it shows this message:
[code]

As you can see here, the "port" is missing from the error message (no wonder it cannot connect to port `0`.

when I run croc with `-debug` it works.

but with `-debug` and the code in the commandline I got this:

[2020-07-15 17:23] schollz commented on #224
@jpds croc doesn't work with ipv6 (https://github.com/schollz/croc/issues/196)

I can't develop croc for ipv6 because I don't have any ipv6 machines. If someone can assist with a PR I'll happily accept.

[2020-07-15 17:39] schollz commented on #222
Here's the problem in your debug file:

[code]

Normally a `payload` will be `croc9009`, that is `croc` followed by a port number. Somehow the port number either wasn't transmitted or was lost.

Since the `9009` port is most common, I can fix this by adding in a check to see if the port is lost, and if so just try to do `9009`.

[2020-07-15 17:53] #222 closed

[2020-07-15 18:26] jpds commented on #224
Hi @schollz, I had seen that bug but this one is slightly different.

I know of three options you can use if you don't have a native IPv6 connection:

1) [Yggdrasil](https://yggdrasil-network.github.io/) - you download the go binary, configure a [public peer](https://github.com/yggdrasil-network/public-peers), run it and every machine you add to the network is assigned a unique IPv6 address

2) Am

[2020-07-15 18:50] maximbaz commented on #224
As yet another alternative, connect to Cloudflare's Warp network via Wireguard and they will assign an internet-visible ipv6 address for you; should be as simple as generating `.conf` file using [this tool](https://github.com/ViRb3/wgcf) and then connecting using `wg-quick`.

[2020-07-17 12:43] adrelanos opened #225 "OpenPGP / gpg signed git tags for source code"
Can you please OpenPGP sign your future git tags? It's also useful in case github [gets hacked](http://www.extremetech.com/computing/120981-github-hacked-millions-of-projects-at-risk-of-being-modified-or-deleted) again in case [SSL CA's](https://en.wikipedia.org/wiki/DigiNotar) get [hacked](http://www.scmagazine.com/two-more-comodo-resellers-owned-in-ssl-hack/article/199620/) again.

With git it r

[2020-07-24 05:14] ju1m opened #226 "Add a way to provide the password to croc relay through a file"
**Is your feature request related to a problem? Please describe.**
Unless the OS is hardened, all users can see the arguments of other users' commands.
Hence using `--pass $password` is not wise from a security point of view.

**Describe the solution you'd like**
`croc relay` could read a `relay.json`.

**Describe alternatives you've considered**
`croc` does not seem to read `receive.json` nor `se

[2020-08-12 19:01] fitojb commented on #148
Seconding this. I can volunteer to create Spanish and Catalan translations.

[2020-08-14 12:44] maximbaz commented on #225
If you start doing this, a PGP signature for `_src.tar.gz` would be highly appreciated too, for the purpose of secure distro packaging 🙂 I can help with that if needed.

[2020-08-26 17:47] lpar opened #229 "Further IPv6 improvements for dual-stack systems"
The [IPv6 patch](https://github.com/schollz/croc/pull/227) should fix pure-IPv6 use without breaking pure-IPv4. However, it's not quite the full story, as there are some additional improvements needed to deal better with dual-stack hosts.

## Improving address advertisement

Right now, `croc` calls https://canhazip.com. For a dual-stack host, this will likely result in an IPv6 address. (It does fo

[2020-08-26 18:06] schollz commented on #229
@lpar thanks for tracking this issue!

I think a lot of things are already in place. Two comments for you:

One - "icanhazip.com" is not used by the program - it's [only for testing purposes](https://github.com/schollz/croc/search?q=PublicIP%28%29&unscoped_q=PublicIP%28%29).

Second - the local network discovery is automatically handled by peerdiscovery, and the address is determined from the conn

[2020-08-26 18:28] schollz commented on #229
I don't know why I can't get ipv6 to work even in docker.

Here's peerdiscovery: https://github.com/schollz/peerdiscovery/tree/master/examples/ipv6, which should work with ipv6.

I configured Docker to use ipv6 and then do

[code]

and then in two separate terminals I do:

[code]

but no peers are discovered :(

[2020-08-26 18:36] lpar commented on #229
With two actual machines (my Mac and a Synology box), the peerdiscovery ipv6 example works for me and finds 6 link-local addresses. The Synology box even finds both link-local addresses for my laptop, one via each ethernet connection.

I believe Docker requires some special configuration to enable IPv6. I've only really used CentOS and podman for containers.

Another option would be to use AWS's f

[2020-08-26 19:05] lpar commented on #229
My tests were with globally routable IPv6 addresses, but I didn't actually make sure the systems were on separate networks. Other than firewalls, it shouldn't make a difference that they weren't.

I didn't try link-local IPv6 addresses as I thought it was unlikely the code would handle them, and in general the LAN should do the right thing if you address machines by their global addresses. If I tr

[2020-08-26 19:28] schollz commented on #229
Okay, cool. That is great info! I will look into AWS for my own ipv6 testing

[2020-08-26 21:59] schollz commented on #229
@lpar okay, so I just quickly added in the LAN search for connecting to ipv6 clients. I just tested it in my LAN between a Linux host and Windows receiver and imagine my surprise:

[code]

it works! I didn't realize I even had ipv6 :\

Could you check out the latest master and see it works for you?

[2020-08-26 22:53] lpar commented on #229
You'll have a link-local IPv6 address (fe80:) by default, whether or not you have an IPv6 Internet connection, as long as IPv6 isn't explicitly disabled. The address will be allocated by stateless autoconfig, so your DHCP server, router and cable modem don't need to know about it.

You might also try pinging `192.88.99.1` to see if your ISP provides an undocumented 6to4 tunnel at the anycast addre

[2020-08-26 23:08] lpar commented on #229
Trying again with debug enabled:

[code]

I think that's the problem, somehow it's ending up trying to open port zero on the sender to listen, and failing.

[2020-08-27 00:25] lpar commented on #229
OK, found the cause of that: net.SplitHostPort returns an error if there's no port to split off.

[code]

Or if RelayAddress can never have a port attached, you could just get rid of the SplitHostPort entirely.

With that change, it now uses the link-local IPv6 addresses, but gives some (apparently harmless) errors at the end, presumably because the sender closed the connections already:

[code]

[2020-08-27 00:31] schollz commented on #229
Yeah, those are harmless. So its transferring files now over ipv6 with that patch?

[2020-08-27 00:35] lpar commented on #229
Yes, at least for LAN-connected systems. Needs some testing across the Internet next, I guess.

[2020-08-27 00:48] schollz commented on #229
Great patch, merged in! Great stuff overall, thanks so much @lpar

[2020-08-27 02:23] schollz commented on #196
pinging this issue to let you know that a possibly compatible ipv6 release is out: https://github.com/schollz/croc/releases/tag/v8.1.0

@unixfox if you want, try it out and let me know if you run into problems

[2020-08-27 02:23] schollz commented on #224
pinging this issue to let you know that a possibly compatible ipv6 release is out: https://github.com/schollz/croc/releases/tag/v8.1.0

@jpds  if you want, try it out and let me know if you run into problems

[2020-08-27 08:19] maximbaz commented on #172
Hi @schollz, the latest `8.1.0` release has an empty `croc_8.1.0_src.tar.gz` archive, could you please have a look what went wrong there?

[2020-08-27 12:22] unixfox commented on #196
@schollz thank you for trying to solve the IPv6 issue, I really appreciate.

I tested out of the box the new version (v8.1.0) and as expected it doesn't work because there are no know IPv6 relay:
[code]

But I tried with an IPv6 private relay and sometimes it gets stuck on "Connecting..." indefinitely:

[code]

[code]

And some other times I get the same exact error as the initial post on this iss

[2020-08-27 14:19] schollz commented on #196
Right, I have an ipv6 address for the public relay so you can try that:

[code]
The example using local ipv6 you linked also doesn't work for me, but it does work for me if I start a local relay and then transfer with:

[code]

I just tried creating two ipv6 droplets and was able to transfer files with them using the public relay (the former example):

[code]

If someone else can confirm it works

[2020-08-27 14:56] unixfox commented on #196
It seems to work for me. Is the relay using the last version of croc?

[2020-08-27 15:07] schollz commented on #196
@unixfox Yes, it is the latest: croc version v8.1.0-588e650

That's great. I'll think about how to add connections with ipv6. It could be a special flag, or have it try ipv4 and then ipv6 if ipv4 fails

[2020-08-27 15:28] lpar commented on #196
It's probably worth looking at the "[happy eyeballs](https://en.wikipedia.org/wiki/Happy_Eyeballs)" algorithm, [RFC8305](https://tools.ietf.org/html/rfc8305), that web browsers use to decide whether to use IPv6 or IPv4 on dual-stack systems. In general, IPv6 will be a better bet than IPv4 if you have both, because you won't have to deal with NAT traversal. (Also, latency will be lower.)

[2020-08-27 16:49] schollz commented on #196
@Ipar @unixfox can you try the latest master (50bf003022c3b296f6beb18087877ec392342b54) for your ipv6 systems? If you need a build let me know and I can provide.

Public gateway now works in my tests for ipv4 <-> ipv4, ipv6 <-> ipv4, and ipv6 <->ipv6.

It opts for ipv6 first (connection refusal is fast if it doesn't exist) and then goes to ipv4.

You can still override the relay address with `--re

[2020-08-27 17:25] lpar commented on #196
Works for me.

[2020-08-27 19:59] unixfox commented on #196
It works for me between two DO droplets but not from a my computer to a DO droplet. It get this kind of error on the receiving server:
[code]

I tested with croc version v8.1.2-2345148.

[2020-08-28 22:09] schollz commented on #196
@unixfox are you sure you have the latest version now (v8.1.2)? I can't replicate an error like this. I tried between DO and a work computer and also DO and a home computer and both worked fine (DO always used ipv6, others did ipv4).

[2020-08-29 08:51] unixfox commented on #196
I think it's probably a firewall issue because I have another computer directly connected to the Internet with a public IPv6 address and it works.

The thing is that I don't really understand how to fix this issue. My firewall doesn't filter outgoing connections, only inbound.

[2020-08-30 15:16] schollz commented on #196
@unixfox that is weird. Does it work with ipv4?

[2020-08-30 16:22] #224 closed

[2020-08-30 19:36] unixfox commented on #196
Yes it is working fine with IPv4.

I can replace the IPv6 issue on two home internet connections (in my student room and my parents's house).

These two connections have a firewall on the internet box which disallow the ability to reach any port that would be opened on the IPv6 address.

[2020-08-31 08:02] lunemec commented on #197
There was already Windows GUI present: https://github.com/schollz/croc/commit/d42a4f82a1ba03fe75796b4f9c303154cab80218 but it is not in the repository anymore.

[2020-09-01 09:34] piegamesde commented on #197
A GUI is great, but it really should be in a separate repository.

[2020-09-01 09:47] piegamesde opened #231 "too many bytes: 1765281"
**Describe the bug**
I tried to send a huge folder (`Sending 6122 files (11.3 GB)`) and receiving it fails

**To Reproduce**
Steps to reproduce the behavior:
1. croc send MyHugeFolder
2. croc password

**Expected behavior**
The files transfer correctly

**Version**
croc version v8.1.1-e250eee

**Additional context**
I'm using the Arch Linux package. Relevant log lines:

[code]

[2020-09-01 09:58] piegamesde opened #232 "problem with decoding: unexpected end of JSON input"
**Describe the bug**
I get `problem with decoding: unexpected end of JSON input` when trying to send files.

**To Reproduce**
Steps to reproduce the behavior:
1. Get a shell with `croc` in PATH (see below)
2. Send and receive a file or folder, preferably on the machine itself

**Expected behavior**
It just works

**Version**
croc version v8.1.1-e250eee

Get a shell with that version installed usin

[2020-09-01 16:26] schollz commented on #232
@piegamesde Can you try with the latest version? Also, are you getting this error consistently?

[2020-09-01 16:30] schollz commented on #231
@piegamesde Thanks. This is an easy fix. Right now I have a limit on the max bytes in the comm just in case someone wants to send some garbage into the relay server. The relay server interprets the header and if its garbage it will see a crazy huge number there. However in your case the number is real. I'll bump it up to 4000000 and it should be okay.

[2020-09-01 17:45] piegamesde commented on #232
Yes, I can reproduce on latest.

[code]

Send log:

[code]

Receive log:

[code]

[2020-09-01 18:05] schollz commented on #232
Can you try running your own relay and see if it will transmit through that?

[2020-09-01 18:09] schollz commented on #232
Oh wait, it looks like it is transmitting locally...are you sure you don't have any firewalls preventing ports 9009-9013?

[2020-09-01 18:44] piegamesde commented on #232
Yes, I'm transferring from my machine only for testing purposes. I'm pretty sure having seen it over networked connections as well, I can perhaps try to reproduce this. I don't remember having installed any firewall things, but no guarantee (is there an easy way to check?).

[2020-09-02 15:47] schollz commented on #232
If your using linux you should check `ufw status`

[2020-09-02 15:59] piegamesde commented on #232
I didn't have `ufw` installed, after installation it says `Status: inactive`.

[2020-09-02 16:15] piegamesde commented on #232
Oh wow, out of curiosity I tried sending a file the other way around (otherwise exactly the same setup), now I reproducibly get a segfault:

[code]

The only difference I can imagine is that it uses p2p transfer only in one direction because it somehow fails to find the other device in the network in the other, defaulting to the relay.

[2020-09-02 16:47] schollz commented on #232
I put this line in to catch that error just now: ea781e569b28fa4e5e50131cc11c8a376bd01a86

But that does'nt help your case, for some reason you're getting this:

[code]

which means it can't connect locally between your computers. I'm not sure why not. This occurred to me when I had a firewall enabled, and I don't know enough about your system to help diagnose that..

[2020-09-02 18:03] schollz commented on #232
To me it sounds like multiple things are going on.

[This](https://github.com/schollz/croc/issues/232#issuecomment-685842311) indicates a firewall issue to me, since connections can't be established.

[This](https://github.com/schollz/croc/issues/232#issuecomment-685027153) indicates some bug I don't understand. Usually this occurs when there is a mismatch of major versions but you indicated that'

[2020-09-02 19:37] piegamesde commented on #232
A firewall issue resulting in a segfault? :thinking:

I did some further testing: The issue seems to be independent from the sent files (I'm usually sending some small dummy text files, whatever lies in the directory). It's not a version mismatch, as I'm using the exact same binary, at least for transfers from my machine to my machine.

However, I found that the croc version packaged in Arch Linux

[2020-09-02 19:58] schollz commented on #232
I tried using Nix using [your command](https://github.com/schollz/croc/issues/232#issuecomment-685027153) and still couldn't reproduce this issue - locally or across the public relay.

The segfault you refer to is only a bug from an error that didn't propogate (ea781e5). The error was that it didn't connect. You can try the master version, it will print out the reason it didn't connect in debuggin

[2020-09-02 20:40] piegamesde commented on #232
I think I give up on that one. What my tests say:

- Transferring to another machine in my network fails
- Transferring to a remote machine works
- Transferring on my machine works with the Arch version, fails with the Nix packaging
- Interestingly, the Arch package cannot receive files sent from Nix (with pretty much the same error too). But also they have a different patch version, would be a bu

[2020-09-02 22:34] meehow commented on #218
Looks like it's working now with corc 8.1.3 and go 1.15 https://gitlab.alpinelinux.org/meehow/aports/-/jobs/198268

[2020-09-02 23:21] schollz commented on #232
Just to be clear - v8 is compatible with v8. I still think there is something else going on. I'll close this, but if can be reproduced on another pair of computers (maybe on a another network) feel free to open and we can figure it out.

[2020-09-02 23:22] #231 closed

[2020-09-02 23:22] #223 closed

[2020-09-02 23:24] #196 closed

[2020-09-02 23:52] schollz opened #233 "Send text with --text 'something'"

[2020-09-03 00:43] schollz commented on #233
TODO: update readme

[2020-09-03 02:54] dlbone opened #235 "Brew Install on MacOS Big Sur (11.0 Beta)"
When using brew to install on MacOS Big Sur I get this error:

[code]

Brew is fully up to date.

[2020-09-03 16:01] piegamesde commented on #232
Please reopen:

- I can reproduce it over the internet
    - The error may depend on the sent content (over my local network test setup, it always fails). It works for some files.
    - Again, it works if the application was not packaged for NixOS (except for the too many bytes bug that is still not fixed in the Arch packaging)
- The error log is always pretty much the same, regardless of the situ

[2020-09-03 16:10] schollz commented on #235
How exactly did you get that error?

[2020-09-03 16:16] schollz commented on #232
I do not maintain the packaging for NixOS and is [currently about a month and a half behind](https://search.nixos.org/packages?show=croc&query=croc&from=0&size=30&sort=relevance&channel=unstable#disabled).

I'm also not the maintainer for Arch and it is [a few days behind](https://www.archlinux.org/packages/community/x86_64/croc/).

I suggest you try to reproduce your problem using the latest mast

[2020-09-03 16:33] dlbone commented on #235
just doing brew install schollz/tap/croc

![image](https://user-images.githubusercontent.com/8334124/92142310-79bea200-edc8-11ea-8351-3e8d733f0b34.png)

[2020-09-03 16:40] schollz commented on #235
perhaps try this? https://github.com/rbenv/ruby-build/issues/1434#issuecomment-612501859

[2020-09-03 16:43] #233 closed

[2020-09-03 16:46] maximbaz opened #236 "No longer possible to specify relay without port"
This is really a minor issue, just want to leave it for you to make things consistent at some point.

Previously it was possible to specify relay as address only (IP address or `relay.example.com`), and if no port was specified it would default to `9009`.

Now it fails with an error "bad relay address" if you don't specify the port, so the fallback to `9009` no longer works.

I leave it up to you

[2020-09-03 16:48] schollz commented on #236
@maximbaz good catch! I'd rather keep the previous behavior, I'll push a fix for that

[2020-09-03 17:02] piegamesde commented on #232
I'm sorry for the confusion. I'm not using the `croc` exactly the way it's packaged in nixpkgs, but with an up to date version. The command I'm using to get a shell with the latest `croc` is:

[code]

Therefore the tests in my comment above were done on the latest master.

Regarding the Arch package, the usual way to get the latest master would be to have a `croc-git` package in the AUR, which sad

[2020-09-03 17:07] schollz commented on #232
Can you post the entire debug when you run using the latest?

[2020-09-03 19:15] equirosa commented on #202
Hi! Came here to report that version 8.2.0 (latest as of 2020/9/2) also mistakenly reports the version being `v8.1.3-2096751`.  This isn't a particularly heavy issue, but I thought it might be worth reporting its prevalence.

I'll look into a way to fix it as soon as I get some free time. :smile:

Context: I was updating the package definition for croc in [nixpkgs](https://github.com/NixOS/nixpkgs

[2020-09-03 19:31] piegamesde opened #237 "Better UX for wrong password"
**Is your feature request related to a problem? Please describe.**

When anything goes wrong in this application, the common error message one gets is:

[code]

This is bad UX, because it doesn't tell the user that the password simply was wrong.

**Describe the solution you'd like**

A message like "wrong password" or the like would be really good. In general, error handling should communicate wha

[2020-09-03 19:38] equirosa commented on #148
I can also help out with the Spanish one.

[2020-09-03 19:46] schollz commented on #237
Added https://github.com/schollz/croc/commit/bbc0ce4e9c1bf21d7938bf3662b3e06f13467b0b

[2020-09-03 19:46] #237 closed

[2020-09-03 19:50] #236 closed

[2020-09-03 20:12] schollz commented on #148
Thanks all.

I can get this started. But first - does anyone know how to detect the native language of the OS automatically? I'm assuming that's the typical way this is done, rather than creating a specifically Russian/Catalan/Spanish/etc version of the program...

[2020-09-03 20:18] schollz commented on #221
Files are updated if the hash changes. The size may be the same (because different bytes can be the same number of bytes), and the date is not computed as part of the hash.

After file transfer, both parties check the hash of their files, and this is, by definition, a "checksum comparison".

This sounds like a bug. Is it reproducible? Are you sure the file being transferred is not being written to

[2020-09-03 20:24] equirosa commented on #148
My first instinct would be to use the info output by the `locale`
command.

For example, running that in my machine yields `LANG=en_UF.UTF-8` among
with other relevant info.

I expect this only works in UNIX-like systems though.

[2020-09-03 20:31] #226 closed

[2020-09-03 20:31] schollz commented on #226
when including `--pass YOURPASSWORD` you can instead pass a file with the password, e.g. `--pass FILEWITHPASSWORD`.

[2020-09-03 20:38] schollz commented on #219
I followed your instructions and ran docker:

[code]

and then connected with:

[code]

and it works as expected.

Did you test your case on a local network? if so, it probably used the local connection as the backup connection. It should never use the public relay as a backup connection.

[2020-09-03 20:40] #192 closed

[2020-09-03 20:40] schollz commented on #122
should be fixed with newest progressbar

[2020-09-03 20:40] #122 closed

[2020-09-03 20:45] #154 closed

[2020-09-03 20:46] schollz commented on #190
Since this is a snap issue, I'm going to close this. I'll keep snap around, but keep note that it may not work all the time with croc :(

[2020-09-03 20:46] #190 closed

[2020-09-03 21:15] dtluna commented on #148
I'll drop two links
https://stackoverflow.com/questions/51829386/golang-get-system-language
https://blog.golang.org/matchlang

[2020-09-03 21:22] piegamesde opened #238 "Panic on symlink"
**Describe the bug**
I wanted to send a folder, it had a symlink in it.

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Create a folder
2. Put some data in it
3. Put a symlink in it
4. `croc send folder`

**Expected behavior**
Symlinks in folders are handled gracefully

**Version**
8.2.0 (v8.1.3-2096751)

**Additional context**
FWIW, the symlink was to another folder within that dire

[2020-09-03 21:54] jackric opened #239 "Option to disable compression"
**Is your feature request related to a problem? Please describe.**
When sending a file with high entropy (adverse to compression) let me explicitly disable croc's compression to save CPU cycles. Examples: already compressed archive, encrypted volume, compressed video.

**Describe the solution you'd like**
croc send --no-compression file.tar.gz

[2020-09-03 21:57] #238 closed

[2020-09-03 22:09] #239 closed

[2020-09-03 22:09] schollz commented on #239
Now added as `croc send --no-compress file`

[2020-09-04 09:34] canvural commented on #217
This is happening again for me now.

[2020-09-04 10:46] Zendelo opened #240 "Download link in the installation script is broken"
In the script that should download and install

It seems there's a typo in the line that defines the version:
should (probably) be:
`croc_version="8.3.0"`
instead it's:
`croc_version=".3.0"`

[2020-09-04 13:06] #240 closed

[2020-09-04 14:12] schollz commented on #232
Any update?

[2020-09-04 14:12] schollz commented on #235
Closing because it seems to be a brew/Xcode issue

[2020-09-04 14:12] #235 closed

[2020-09-04 17:41] ansballard commented on #197
Just stumbled across this, but it seems like this doesn't necessarily need a full gui in a separate window, I was wondering more about a tray icon with send/receive/text box , since that should cover all the base functionality without needing less tech-savvy users to open a command line, and without the extra weight of a full GUI.

I think the context menus are a nice option but I tend to avoid th

[2020-09-04 19:46] golubaca commented on #151
Enabled by default seems like an good option for me. I throws a panic, so recover will be enough to try again. You can maybe set a default flag to retry attempts (like 3 or so).

[2020-09-04 21:00] piegamesde commented on #237
Hm, I can still reproduce on 8.3.0.

[2020-09-04 22:21] schollz commented on #237
I can't...how are you reproducing?

When the wrong password is used receiver says

[code]

and sender says:

[code]

[2020-09-04 22:50] eddvys opened #241 "tcp.go:81: error listening on 9009:"
Describe the bug
Long story short... Installed on windows 10 with Snoop latest version (8.3.0-87e54ac) and simply said.

To Reproduce - Tried running as administrator tried powershell, tried re-install.. Not sure if I'm doing something wrong or what, but that's the errors.

C:\Users\XXxxxXXX>croc send C:\Users\XXxxxXXX\Desktop\dog1.jpg
Sending 'dog1.jpg' (56.6 kB)
Code is: secure-nikita-connect
On

[2020-09-05 00:30] piegamesde commented on #237
[code]

I can also get the "correct" error message, but not in all cases:

[code]

[2020-09-05 10:55] rubenvde commented on #235
Having the same issue, sadly [rbenv/ruby-build#1434 (comment)](https://github.com/rbenv/ruby-build/issues/1434#issuecomment-612501859) isn't working

[2020-09-05 14:11] jyundt opened #242 "Add version/release tags to croc Docker Hub images"
Would it be possible to tag the croc Docker Hub images with the version / release number?

Currently only "latest" is available:

![image](https://user-images.githubusercontent.com/5204426/92306795-d607fa00-ef5f-11ea-9e68-273956d2dcaa.png)

[2020-09-05 15:32] dlbone commented on #235
I tried updating XCode to the latest version and running brew doctor and brew cleanup as mentioned in that other thread. Still getting the same error.

[code]

[2020-09-05 20:22] dtrodrigues opened #243 "unable to send and receive data from stdin in while running in the same directory"
**Describe the bug**
Trying to receive stdin from the same directory as the server fails.

**To Reproduce**
Steps to reproduce the behavior:
1. In one terminal, type `croc send --code=mycode --text=mytext`
2. In a second terminal from the same directory, run `croc --yes mycode`

**Expected behavior**
`mytext` to be printed to the screen, instead, the output is
[code]

**Version**
croc version v8.3

[2020-09-06 00:24] schollz commented on #243
Good :bug: , should be fixed with this: https://github.com/schollz/croc/commit/345ef0567e50c0e74452a03fdc03f4359c225c84

[2020-09-06 00:31] dtrodrigues commented on #243
That worked. Thanks for the quick fix.

[2020-09-06 00:31] #243 closed

[2020-09-06 01:48] dospunk commented on #118
Would love to see this

[2020-09-06 11:51] rubenvde commented on #235
Got it working by running: `sudo rm -rf /Library/Developer/CommandLineTools` and maybe doing this: `sudo xcode-select --install`. After that this message should go away:
[code]

try installing ruby again and it should work.

[2020-09-06 17:18] piegamesde commented on #232
On the latest version, everything works fine now. I really can't tell what fixed it, but I won't complain either …

The only thing that is left is a connection failure when sending over the local network (tcp i/o timeout). Instead of failing, a connection over the relay should be tried first. But that's unrelated and something for another issue.

[2020-09-06 17:18] #232 closed

[2020-09-07 04:32] aranajhonny opened #245 "error using Windows 10 - ips unmarshal error"
![thrhh](https://user-images.githubusercontent.com/9091881/92348615-33ec2d00-f099-11ea-8ff0-2028a960dea6.png)

not work download files

[2020-09-07 04:35] aranajhonny commented on #245
Unmarshall error: invalid character '\x01'

[2020-09-07 04:35] #245 closed

[2020-09-07 06:10] quite commented on #197
Maybe a cross-platform gui would be the thing. Covering windows, macos, ios, android. What are the options for such gui? :)

[2020-09-07 11:28] piegamesde commented on #197
How about re-using existing Wormhole-GUIs? The functionality and CLI syntax is nearly identical, it could be rather easy to take one of these and make croc a second backend.

With regards to your requirements—web. There is no true one size fits all solution for cross platform GUIs.

[2020-09-07 12:11] ansballard commented on #197
@quite first one that comes to mind is electron, which is _way_ to heavy for this app in my mind. Tauri might be a good alternative, but it's in early dev and I haven't used it personally.

Looks like wormhole uses qt, which is a pretty popular cross platform ui, I'm sure someone that's used it before could throw together a Solid Ui pretty quickly.

[2020-09-07 12:26] quite commented on #197
@ansballard wow, Tauri looks like something that could replace electron, which indeed is heavy and mad...

[2020-09-07 15:25] schollz commented on #241
Is there something else running on 9009? Also, when the permissions notification popped up, did you allow or disallow?

[2020-09-07 15:27] #219 closed

[2020-09-07 15:28] #221 closed

[2020-09-07 17:44] camjac251 commented on #221
Oh my bad I forgot to reply. It was a while ago that I had these issues and haven't used croc as much recently. Next time I face the issue I'll let you know here.

[2020-09-08 08:32] AnotherFoxGuy commented on #241
I've run into the same issue today
This seems to be running on port 9009: https://pastebin.com/nG6t7V2k
It belongs to the Windows 10 system process, but I cannot find any information on why it is using that port

[2020-09-08 13:59] eddvys commented on #241
Well, first of all I know what is running on my ports. Secondly I couldn't figure out why 9009 is occupied. But reply above me gives more insight, i guess.

[2020-09-08 14:42] shadowshan125 opened #247 "croc as mobile application"
If this in the mobile platform is android and ios better work like gui
That's awesome try this

[2020-09-08 20:30] rpush-01 commented on #247
I do believe it depends on how accessible writing to the file systems works, and if the network firewalls on those devices allow files to be incoming by default. If it is possible I would be happy to work on it!

[2020-09-09 02:49] CalvinPaean opened #248 "croc send --text does not work"
When I use croc send --text "hello world", it does not work. It reports the following message:

Incorrect Usage: flag provided but not defined: -text

NAME:
   croc send - send a file (see options with croc send -h)

USAGE:
   croc send [command options] [filename]

DESCRIPTION:
   send a file over the relay

OPTIONS:
   --code value, -c value  codephrase used to connect to relay
   --no-local

[2020-09-09 03:56] jolheiser commented on #248
What version of croc are you using? `croc --version`

It looks like sending/receiving text was introduced in [v8.2.0](https://github.com/schollz/croc/releases/tag/v8.2.0)

[2020-09-09 08:03] luofe opened #250 "Show "Enter receive code:" after I open it in Windows 10"
It always display "Enter receive code" when I open it, but actually I want start to send a file, so, how can I use it to send the file?
![Untitled](https://user-images.githubusercontent.com/44823232/92571631-ee587b80-f2b5-11ea-923a-87a70fb437d5.png)

[2020-09-09 12:34] Jacalz commented on #197
I might be looking at creating a gui for `croc` sometime in the future. I already have a gui called [wormhole-gui](https://github.com/jacalz/wormhole-gui) for magic-wormhole that uses [fyne](https://fyne.io) so that it is fully cross-platform. It shouldn't be all too hard to reuse some of that code to fit better with `croc` .

[2020-09-09 12:41] jolheiser commented on #250
According to the [README](https://github.com/schollz/croc#usage)

`croc send [file(s)-or-folder]`

[2020-09-09 15:34] schollz opened #253 "Add bash autocomplete"
Bash autocomplete is enabled already, but needs wrapper scripts to function. I think my plan is to bundle [these two autocomplete wrapper scripts](https://github.com/urfave/cli/tree/master/autocomplete) into the archive, which will be installed using the bash installer (`curl https://getcroc.schollz.com | bash`). The bash installer should install the autocomplete scripts as long as the OS is not W

[2020-09-09 17:21] mishushakov commented on #108
any updates?

[2020-09-09 17:41] schollz commented on #108
I've been thinking about this.

A good route to go is to use webrtc like webwormhole. However, my tests show that webwormhole, between two terminals, is slower than croc (up to twice as slow), which I think is probably due to webrtc. I don't want to have a performance hit to support browsers.

An alternative method would be to add a new relay server that relays encrypted messages between a websock

[2020-09-09 18:48] rpush-01 commented on #197
I might try my hand at this, using Go or Rust. The easiest way is to make it essentially just executing the croc cli commands, which isn't too hard with the use of a couple libraries, and use goqt or goui for the GUI, which both are cross platform. I am intrigued by the possibility of a mobile app, but I'm not sure how writing to the open file system, and also how default network firewalls would w

[2020-09-09 18:53] Sean-Der commented on #108
@schollz Do you know if that is SCTP over UDP performance, or bad Pion performance?

I would love to pay down tech debt and make Pion faster :)

[2020-09-09 19:13] rpush-01 commented on #118
The Gomobile framework, although not optimized or widely used, is good enough for now, if you want to use Go for developing on mobile its one of the main options. If it became popular we would probably convert to Native, I know Swift for that, maybe someone knows Kotlin. If you don't care about the language, Flutter(Dart), and React Native(JS, TS) are pretty good. If you know JS apparently Dart is

[2020-09-09 20:24] schollz commented on #108
@Sean-Der I made a mistake - I turned off compression and then croc was only ~20% faster. I think that speed difference is due to croc's multiplexing (which boosts speed a little but not linearly related to number of parallel transfers).

I think the biggest roadblock is getting a browser to be able to write blocks of data into an arbitrary location in a file. I have no idea how to do that other t

[2020-09-09 21:01] mishushakov commented on #108
hello everyone!

magic wormhole has similar ideas: https://magic-wormhole.readthedocs.io/en/latest/file-transfer-protocol.html#future-extensions

i think WebRTC is more "natural" for this type of project as it solves problems like peering and relaying at protocol layer
great read: https://webrtcforthecurious.com

going for WebSockets would mean you'd have more stuff to maintain

thanks

[2020-09-09 21:06] mishushakov commented on #108
maybe this will solve the problem with loading files
https://github.com/jimmywarting/StreamSaver.js

StreamSaver.js takes a different approach. Instead of saving data in client-side storage or in memory you could now actually create a writable stream directly to the file system

[2020-09-09 22:23] mishushakov commented on #108
could you explain?

is this a thing https://en.wikipedia.org/wiki/Password_Authenticated_Key_Exchange_by_Juggling
?

[2020-09-10 02:29] #248 closed

[2020-09-10 02:30] #250 closed

[2020-09-10 02:30] schollz commented on #241
I'll close this since its a windows issue. If lots of people have this though I can find a workaround to pick a new port.

[2020-09-10 02:30] #241 closed

[2020-09-10 06:21] Jacalz commented on #197
I don’t think executing cli commands is the best solution to do this. It firstly kills off the portability of the application by needing you to have the cli installed at the same time (fyne apps are for example entirely statically build without runtime dependencies). It can also, theoretically, insert security issues where an attacker uses admin rights or modifies the command executions to overwri

[2020-09-10 10:14] piegamesde commented on #197
If an attacker has got admin rights, you lost. Game over.

Calling a CLI tool does not require having a shell. You can still call the executable with command line arguments as a subprocess.

[2020-09-10 10:30] lunemec commented on #197
The best option is to replicate what the CLI does in gui: https://github.com/schollz/croc/blob/master/src/cli/cli.go

[2020-09-10 11:22] quite commented on #197
I dont think executing binaries is sa problem performance wise for this use-case. But, bundling/executing binaries might be an issue in the future on Android, because goog (playstore). At least I heard something like that.

[2020-09-10 15:24] adamclark64 commented on #160
just got the same response
[code]

[2020-09-10 15:27] schollz commented on #160
Is reproducible? Different machines, same problem? What version of croc?

[2020-09-10 17:12] adamclark64 commented on #160
[code]
from my machine i run `croc send <file>` and get a a code phrase

on my machine and another when i run `croc <code phrase>` the response is
[code]

[2020-09-10 18:40] rpush-01 opened #255 "Question: How are the codes stored and organized?"
I am a bit of a new coder, and was wondering how the codes for receiving created, organized, and stored? I was looking to to create a project with a similar way of connecting/authentication, but couldn't figure out how it was done while poking around the project. Great project, its been super useful for me.

[2020-09-10 19:12] schollz commented on #255
Codes are created using https://github.com/schollz/mnemonicode (forked from bitbucket.org/dchapes/mnemonicode)

These codes are exchanged using PAKE: https://github.com/schollz/pake

After exchanging, the resulting key established by the two parties is secure.

All encryption is done using the resulting key (NOT the initial code).

This type of encryption occurs between every pair of parties in cr

[2020-09-10 19:13] rpush-01 commented on #255
Thank you!

[2020-09-10 19:13] #255 closed

[2020-09-11 00:09] pauldeng opened #256 "How to use -rate flag in sender?"
Hi all,

Thanks for this great app. I am new to this, applogize if I ask silly question.

I would like to know how to use the -rate option to limit sender's outgoing speed.
It was merged long time ago at https://github.com/schollz/croc/pull/24. However, I cannot find any document, help in app about it.

This is an excellent feature and useful in some low-bandwidth scenarios.

Can you please provid